INSERT INTO [DM_DA].[dbo].[DIM_AERODROMOS]
SELECT TOP 1000 [ICAO] COD_AERODROMO
      ,[CATEGORIA]
      ,[TIPO]
      ,[AERODROMO] NOME
	  ,[MUNICIPIO]
      ,[UF]
	  ,CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LATGG]))) + 'º ' + CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LATMM]))) + CHAR(39) + ' ' + CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LATSS]))) + CHAR(39) + CHAR(39) + ' ' + [HEMIS_LAT] AS LATITUDE
      ,CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LONGGG]))) + 'º ' + CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LONGMM]))) + CHAR(39) + ' ' + CONVERT(VARCHAR(5),ABS(CONVERT(FLOAT, [LONGSS]))) + CHAR(39) + CHAR(39) + ' ' + [HEMIS_LONG] AS LONGITUDE
	  ,CONVERT(VARCHAR(30), ELEVACAO) + ' m' ALTITUDE
	  ,CASE ISNULL([VFR_NOTURNO],'-')
		WHEN '-' THEN 'VFR Diurma'
		ELSE 'VFR Diurna/Noturna'
	  END OPERACAO_VFR
	  ,CASE ISNULL([IFR_NOTURNO],'-')
		WHEN '-' THEN CASE ISNULL([IFR_DIURNO],'-') WHEN '-' THEN 'Sem IFR' ELSE 'IFR Diurna' END
		ELSE 'IFR Diurna/Noturna'
	  END OPERACAO_IFR
	  ,CONVERT(VARCHAR(10), CABECEIRA_A) + '/' + CONVERT(VARCHAR(10), CABECEIRA_B) PISTA_1_POU_DEC
	  ,CONVERT(VARCHAR(10), CABECEIRA_A1) + '/' + CONVERT(VARCHAR(10), CABECEIRA_B1) PISTA_2_POU_DEC
      ,CONVERT(VARCHAR(10),[COMPRIMENTO]) + ' m' COMPRIMENTO_PISTA_1
	  ,CONVERT(VARCHAR(10),[LARGURA]) + ' m' LARGURA_PISTA_1
	  ,[PISO] PISO_PISTA_1
	  ,CONVERT(VARCHAR(10),[COMPRIMENTO1]) + ' m' COMPRIMENTO_PISTA_2
	  ,CONVERT(VARCHAR(10),[LARGURA1]) + ' m' LARGURA_PISTA_2
	  ,[PISO1] PISO_PISTA_2
  FROM [DM_DA].[dbo].[DIM_AERODROMOS_BKP]