/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
  FROM [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL]
  -- UPDATE [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL] SET DT_PROG_MIGRACAO = '20170213 11:30', [DT_MIGRACAO] = NULL, [FL_MIGRACAO] = 'R'
 WHERE SG_AER IN ('SBCJ')
   AND MES_ANO LIKE '201701%'
ORDER BY SG_AER, MES_ANO

SELECT TOP 1500 *
  FROM [IEOP].[dbo].[INTEGRACAO_SISO_IEOP_RSO_CENTRAL]
  -- UPDATE [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL] SET [DT_MIGRACAO] = NULL, [FL_MIGRACAO] = 'R'
 WHERE SG_AER IN ('SBCJ')
   AND MES_ANO LIKE '201701%'
ORDER BY SG_AER, MES_ANO

/*   

   SELECT TOP 1000 
	  'UPDATE [' + SG_AER + ' - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_IEOP_SISO_RSO] SET FL_MIGRACAO = NULL WHERE MES_ANO LIKE ''2014%'''
	  FROM [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL]
	  -- UPDATE [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL] SET DT_PROG_MIGRACAO = '20150205 13:00', [FL_MIGRACAO] = 'R'
	 WHERE SG_AER IN ('SBFI','SBFL','SBJC','SBJU','SBJV','SBMA','SBMO','SBMQ','SBMT','SBNF','SBPJ','SBRF','SBRJ','SBSL','SBSP','SBTE','SBUL')
	AND MES_ANO = '20141401'

	SELECT	*
	FROM	[SBCJ - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_IEOP_SISO_RSO] AER WITH (NOLOCK)
	WHERE    MES_ANO LIKE '2017%'
	ORDER BY MES_ANO

	SELECT	*
	FROM	[SBCJ - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_IEOP_RSO] AER WITH (NOLOCK)
	WHERE    MES_ANO = '20170101'
	ORDER BY MES_ANO


	--'SBBE','SBBH','SBCT','SBCY','SBEG','SBFI','SBFL','SBJC','SBJU','SBJV','SBMA','SBMO','SBMQ','SBMT','SBNF','SBPJ','SBRF','SBRJ','SBSL','SBSP','SBTE','SBUL'



	EXEC IEOP..PRC_CARGA_RSO_AEROPORTOS 'SBBE'

   UPDATE [IEOP].[dbo].[INTEGRACAO_IEOP_SISO_RSO_CENTRAL] SET NM_PES = 'Dilson Sede', DT_MIGRACAO= GETDATE(), FL_MIGRACAO = 'N'
   WHERE SG_AER IN ('SBBE','SBBH','SBCT','SBCY','SBEG','SBFI','SBFL','SBJC','SBJU','SBJV','SBMA','SBMO','SBMQ','SBMT','SBNF','SBPJ','SBRF','SBRJ','SBSL','SBSP','SBTE','SBUL')
   AND MES_ANO = '20141401'

*/
