DROP TABLE IFRCORP..DADOS_OPERACIONAIS_AGO_2015
GO

SELECT 
       [SIGLA_AEROPORTO_OPERACAO]
	  ,[DIA_DES] AS DIA
      ,[MES_DES] AS MES
      ,[ANO_DES] AS ANO
      ,[HORA_DES] AS HORA
      ,[MINUTO_DES] AS MINUTO
	  ,[CIA_AEREA_DES] as CIA_AEREA
      ,[MATRICULA_AERONAVE_DES] AS MATRICULA_AERONAVE
      ,[SIGLA_EQUIPAMENTO_DES] AS SIGLA_EQUIPAMENTO
      ,[PAX_DESEMBARCADO]
      ,[PAX_CONEXAO_DES]
      ,[BOX_DES]
      ,[GRUPO_VOO_DES] AS GRUPO_VOO
      ,[NATUREZA_VOO_DES] AS NATUREZA_VOO
      ,[CLASSE_VOO_DES] AS CLASSE_VOO
      ,[CATEGORIA_VOO_DES] AS CATEGORIA_VOO
      ,[PAX_EMBARCADO]
      ,[PAX_EMBARCADO_ANT]
      ,[PAX_ISENTO_TRANSITO_EMB]
      ,[PAX_ISENTO_CONEXAO_EMB]
      ,[PAX_ISENTO_OUTRAS_EMB]
      ,[BOX_EMB]
      ,[DSC_PISTA_POU]
	  INTO IFRCORP..DADOS_OPERACIONAIS_AGO_2015
  FROM [BIOGER].[dbo].[VIW_BIOGER]
 WHERE [ANO_DES] = 2015
   AND [MES_DES] = 8
   AND [SIGLA_AEROPORTO_OPERACAO] IN ('SBSP', 'SBGO', 'SBPA', 'SBRF', 'SBEG')
GO
