USE [GEACupax]
GO
/****** Object:  StoredProcedure [dbo].[usp_ins_upxb]    Script Date: 12/28/2010 09:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


if exists(select * from sysobjects where name = 'usp_ins_upxb')
   drop procedure usp_ins_upxb
go

 
Create PROCEDURE [dbo].[usp_ins_upxb] 
               ( @p_cd_aerop                       char(4), 
                 @p_cd_terminal                    char(10), 
                 @p_dt_mov                         datetime, 
                 @p_nro_selo_electronico           char(14), 
                 @p_format_code                    char(1), 
                 @p_num_legs_encode                char(1), 
                 @p_passenger_name                 varchar(20), 
                 @p_eletronic_ticket_ind           char(1), 
                 @p_oper_carrier_pnr_code          varchar(7), 
                 @p_source_code                    char(3), 
                 @p_target_code                    char(3), 
                 @p_oper_carrier_designator        char(3), 
                 @p_flight_number                  varchar(5), 
                 @p_flight_date                    char(3), 
                 @p_compartiment_code              char(1), 
                 @p_seat_number                    char(4), 
                 @p_checkin_seq_number             varchar(5), 
                 @p_passenger_status               char(1), 
                 @p_field_size_follow_var          char(2), 
                 @p_beginning_version_number       char(1), 
                 @p_version_number                 char(1), 
                 @p_field_size_follow_struc_uni    char(2), 
                 @p_passenger_desc                 char(1), 
                 @p_checkin_source                 char(1), 
                 @p_boarding_pass_source           char(1), 
                 @p_boarding_pass_date             varchar(4), 
                 @p_document_type                  char(1), 
                 @p_airline_desig_boarding_pass    varchar(3), 
                 @p_field_size_follow_struc_rep    varchar(2), 
                 @p_airline_numeric_code           char(3), 
                 @p_document_form_serial_num       varchar(10), 
                 @p_selectee_indicator             char(1), 
                 @p_international_doc_verificat    char(1), 
                 @p_marketing_carrier_designato    varchar(3), 
                 @p_frequent_flyer_airline_desi    varchar(3), 
                 @p_frequent_flyer_num             varchar(16), 
                 @p_id_ad_indicator                char(1), 
                 @p_free_baggage_allowance         varchar(3), 
                 @p_generic_individual_airline_    char(1), 
                 @p_date_created                   datetime, 
                 @p_user_id_created                char(30), 
                 @p_date_changed                   datetime, 
                 @p_user_id_changed                char(30), 
                 @p_inactive_ind                   char(1), 
                 @p_active_date                    datetime ) 
AS 
  DECLARE @ret int 
     EXEC @ret = sp_dbs_authenticate 
 
  IF @ret != 0 RETURN 
 
  INSERT INTO pax_selos_bd_u 
            ( cd_aerop, 
              cd_terminal, 
              dt_mov, 
              nro_selo_electronico, 
              format_code, 
              num_legs_encode, 
              passenger_name, 
              eletronic_ticket_ind, 
              oper_carrier_pnr_code, 
              source_code, 
              target_code, 
              oper_carrier_designator, 
              flight_number, 
              flight_date, 
              compartiment_code, 
              seat_number, 
              checkin_seq_number, 
              passenger_status, 
              field_size_follow_var, 
              beginning_version_number, 
              version_number, 
              field_size_follow_struc_unique, 
              passenger_desc, 
              checkin_source, 
              boarding_pass_source, 
              boarding_pass_date, 
              document_type, 
              airline_desig_boarding_pass, 
              field_size_follow_struc_repeat, 
              airline_numeric_code, 
              document_form_serial_num, 
              selectee_indicator, 
              international_doc_verification, 
              marketing_carrier_designator, 
              frequent_flyer_airline_desig, 
              frequent_flyer_num, 
              id_ad_indicator, 
              free_baggage_allowance, 
              generic_individual_airline_use, 
              date_created, 
              user_id_created, 
              date_changed, 
              user_id_changed, 
              inactive_ind, 
              active_date, 
              chgstamp ) 
     VALUES ( @p_cd_aerop, 
              @p_cd_terminal, 
              @p_dt_mov, 
              @p_nro_selo_electronico, 
              @p_format_code, 
              @p_num_legs_encode, 
              @p_passenger_name, 
              @p_eletronic_ticket_ind, 
              @p_oper_carrier_pnr_code, 
              @p_source_code, 
              @p_target_code, 
              @p_oper_carrier_designator, 
              @p_flight_number, 
              @p_flight_date, 
              @p_compartiment_code, 
              @p_seat_number, 
              @p_checkin_seq_number, 
              @p_passenger_status, 
              @p_field_size_follow_var, 
              @p_beginning_version_number, 
              @p_version_number, 
              @p_field_size_follow_struc_uni, 
              @p_passenger_desc, 
              @p_checkin_source, 
              @p_boarding_pass_source, 
              @p_boarding_pass_date, 
              @p_document_type, 
              @p_airline_desig_boarding_pass, 
              @p_field_size_follow_struc_rep, 
              @p_airline_numeric_code, 
              @p_document_form_serial_num, 
              @p_selectee_indicator, 
              @p_international_doc_verificat, 
              @p_marketing_carrier_designato, 
              @p_frequent_flyer_airline_desi, 
              @p_frequent_flyer_num, 
              @p_id_ad_indicator, 
              @p_free_baggage_allowance, 
              @p_generic_individual_airline_, 
              @p_date_created, 
              @p_user_id_created, 
              @p_date_changed, 
              @p_user_id_changed, 
              @p_inactive_ind, 
              @p_active_date, 
              0 ) 

go

Grant Execute on [dbo].[usp_ins_upxb] to Public
go