section[data-grid='col_1'],
section[data-grid='col_2'],
section[data-grid='col_3'],
section[data-grid='col_2_3'],
section[data-grid='col_4'],
.uGrid {
	float: left;
	clear: none;
	margin: 0 .5% 12px .5%;
}


section[data-grid='col_1'],
.uGrid.col_1 {
	width: 99%;
}
section[data-grid='col_2'],
.uGrid.col_2 {
	width: 49%;
}
section[data-grid='col_3'],
.uGrid.col_3 {
	width: 32.33%;
}
section[data-grid='col_2_3'],
.uGrid.col_2_3 {
	width: 65.66%;
}
section[data-grid='col_4'],
.uGrid.col_4 {
	width: 24%;
}
/* Smaller widths for IE */
.ie7 {
	section[data-grid='col_1'],
	.uGrid.col_1 {
		width: 98.5%;
	}
	section[data-grid='col_2'],
	.uGrid.col_2 {
		width: 48.5%;
	}
	section[data-grid='col_3'],
	.uGrid.col_3 {
		width: 31.73%;
	}
	section[data-grid='col_2_3'],
	.uGrid.col_2_3 {
		width: 65.66%;
	}
	section[data-grid='col_4'],
	.uGrid.col_4 {
		width: 23.5%;
	}
}
section[data-grid-start='yes'],
.uGrid.col_start {
	clear: both;
}

.uGrid.col_full {
  width: 100%;
}