USE [IEOP]
GO
/****** Object:  StoredProcedure [dbo].[PRC_MERGE_EMB_NOVO_BIOGER]    Script Date: 07/10/2013 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[PRC_MERGE_EMB_NOVO_BIOGER]
AS
SET NOCOUNT ON;

declare	@SIG_AEROPORTO varchar(4),
	@NUM_VOO varchar(10),
	@DTH_NORMAL_DECOLAGEM datetime,
	@DTH_EFETIVA_DECOLAGEM datetime,
	@COD_CIA_AEREA int,
	@SIG_CIA_AEREA_IATA varchar(3),
	@NME_CIA_AEREA varchar(30),
	@COD_MATRICULA_AERONAVE varchar(10),
	@NUM_GRUPO_VOO_EMB int,
	@NUM_NATUREZA_VOO_EMB varchar(1),
	@NUM_CLASSE_VOO_EMB varchar(1),
	@NUM_CATEGORIA_VOO_EMB varchar(2),
	@NUM_CATEGORIA_VOO_EMB_VINCULADO varchar(2),
	@SIG_EQUIPAMENTO varchar(10),
	@NME_EQUIPAMENTO varchar(20),
	@QTD_TARIFA_PAGA_BILHETE_DOM_EMB int,
	@QTD_TARIFA_PAGA_BILHETE_INT_EMB int,
	@QTD_TARIFA_PAGA_CHECKIN_DOM_EMB int,
	@QTD_TARIFA_PAGA_CHECKIN_INT_EMB int,
	@QTD_ISENTA_COLO_EMB int,
	@QTD_ISENTA_TRANSITO_EMB int,
	@QTD_ISENTA_CONEXAO_EMB_DOM int,
	@QTD_ISENTA_CONEXAO_EMB_INT int,
	@QTD_ISENTA_OUTRAS_EMB int,
	@QTD_BAG_EMB_DOM int,
	@QTD_BAG_EMB_INT int,
	@QTD_CAR_EMB_DOM int,
	@QTD_CAR_EMB_INT int,
	@QTD_COR_EMB_DOM int,
	@QTD_COR_EMB_INT int,
	@QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT int,
	@QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT int,
	@QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT int,
	@QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT int,
	@COD_VOO_CHEGADA_ANT varchar(10),
	@COD_EMB_VINCULADO varchar(10),
	@SIG_AEROPORTO_DESTINO varchar(4),
	@NUM_BOX varchar(10),
	@TIP_BOX varchar(10),
	@NME_PONTE varchar(40),
	@NUM_PORTAO varchar(10),
	@DSC_PISTA_POUSO varchar(10),
	@DSC_PISTA_DECOLAGEM varchar(10),
	@COD_STATUS int,
	@COD_STATUS_ANT int,
	@COD_STATUS_OLD int,
	@COD_STATUS_POS int,
	@TIP_STATUS tinyint,
	@FLG_STATUS int,
	@FLG_TAXI_AEREA tinyint,
	@FLG_EQUIP_HELICOP tinyint,
	@DTH_PRI_MOV smalldatetime,
	@DTH_ULT_MOV smalldatetime,
	@DTH_ULT_SAI_MOV smalldatetime,
	@COD_VOO_PARTIDA int,
	@DTH_ATUALIZACAO datetime,
	@DTH_ATUALIZACAO_MAX datetime,
	@QTD_ATUALIZACAO smallint,
	@FLG_MIGRADO tinyint,
	@DTH_MIGRACAO datetime

UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
SET FLG_MIGRADO = 22
WHERE FLG_MIGRADO = 1;

SET @COD_STATUS_OLD = 1

DECLARE emb_cursor_max CURSOR FOR 
	  SELECT	[SIG_AEROPORTO]
			,	[COD_STATUS]
			,	MAX([DTH_ATUALIZACAO]) DTH_ATUALIZACAO_MAX
		FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
		WHERE	FLG_MIGRADO = 22 
		  AND	[NUM_CATEGORIA_VOO_EMB_VINCULADO] IS NULL
		GROUP
			BY	[SIG_AEROPORTO]
			,	[COD_STATUS]
		ORDER 
			BY	SIG_AEROPORTO ASC
			,	COD_STATUS ASC;
		
	
		OPEN emb_cursor_max

		FETCH NEXT FROM emb_cursor_max
		INTO @SIG_AEROPORTO,
			 @COD_STATUS,
			 @DTH_ATUALIZACAO_MAX

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF ( @COD_STATUS_OLD != @COD_STATUS )
			BEGIN
				DELETE	IEOP.DBO.IEOP_EMBARQUE
				 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
				   AND	COD_STATUS = @COD_STATUS;
			END;

			DECLARE emb_cursor CURSOR FOR 
			SELECT	ISNULL(NUM_VOO,0) NUM_VOO,
					DTH_NORMAL_DECOLAGEM,
					DTH_EFETIVA_DECOLAGEM,
					COD_CIA_AEREA,
					SIG_CIA_AEREA_IATA,
					NME_CIA_AEREA,
					COD_MATRICULA_AERONAVE,
					NUM_GRUPO_VOO_EMB,
					NUM_NATUREZA_VOO_EMB,
					NUM_CLASSE_VOO_EMB,
					NUM_CATEGORIA_VOO_EMB,
					NUM_CATEGORIA_VOO_EMB_VINCULADO,
					SIG_EQUIPAMENTO,
					NME_EQUIPAMENTO,
					QTD_TARIFA_PAGA_BILHETE_DOM_EMB,
					QTD_TARIFA_PAGA_BILHETE_INT_EMB,
					QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
					QTD_TARIFA_PAGA_CHECKIN_INT_EMB,
					QTD_ISENTA_COLO_EMB,
					QTD_ISENTA_TRANSITO_EMB,
					QTD_ISENTA_CONEXAO_EMB_DOM,
					QTD_ISENTA_CONEXAO_EMB_INT,
					QTD_ISENTA_OUTRAS_EMB,
					QTD_BAG_EMB_DOM,
					QTD_BAG_EMB_INT,
					QTD_CAR_EMB_DOM,
					QTD_CAR_EMB_INT,
					QTD_COR_EMB_DOM,
					QTD_COR_EMB_INT,
					QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,
					QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,
					QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
					QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,
					COD_VOO_CHEGADA_ANT ,
					COD_EMB_VINCULADO ,
					SIG_AEROPORTO_DESTINO ,
					NUM_BOX ,
					TIP_BOX ,
					NME_PONTE,
					NUM_PORTAO,
					DSC_PISTA_POUSO ,
					DSC_PISTA_DECOLAGEM,
					COD_STATUS_ANT,
					COD_STATUS_POS,
					TIP_STATUS,
					FLG_STATUS,
					FLG_TAXI_AEREA,
					FLG_EQUIP_HELICOP,
					DTH_PRI_MOV,
					DTH_ULT_MOV,
					DTH_ULT_SAI_MOV,
					ISNULL(CD_PAR,0) COD_VOO_PARTIDA,
					DTH_ATUALIZACAO,
					QTD_ATUALIZACAO,
					FLG_MIGRADO,
					DTH_MIGRACAO 
			FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
		   WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
			 AND	COD_STATUS = @COD_STATUS
			 AND	DTH_ATUALIZACAO = @DTH_ATUALIZACAO_MAX
			 AND	FLG_MIGRADO = 22
		UNION ALL
		SELECT	ISNULL(NUM_VOO,0) NUM_VOO,
					DTH_NORMAL_DECOLAGEM,
					DTH_EFETIVA_DECOLAGEM,
					COD_CIA_AEREA,
					SIG_CIA_AEREA_IATA,
					NME_CIA_AEREA,
					COD_MATRICULA_AERONAVE,
					NUM_GRUPO_VOO_EMB,
					NUM_NATUREZA_VOO_EMB,
					NUM_CLASSE_VOO_EMB,
					NUM_CATEGORIA_VOO_EMB,
					NUM_CATEGORIA_VOO_EMB_VINCULADO,
					SIG_EQUIPAMENTO,
					NME_EQUIPAMENTO,
					QTD_TARIFA_PAGA_BILHETE_DOM_EMB,
					QTD_TARIFA_PAGA_BILHETE_INT_EMB,
					QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
					QTD_TARIFA_PAGA_CHECKIN_INT_EMB,
					QTD_ISENTA_COLO_EMB,
					QTD_ISENTA_TRANSITO_EMB,
					QTD_ISENTA_CONEXAO_EMB_DOM,
					QTD_ISENTA_CONEXAO_EMB_INT,
					QTD_ISENTA_OUTRAS_EMB,
					QTD_BAG_EMB_DOM,
					QTD_BAG_EMB_INT,
					QTD_CAR_EMB_DOM,
					QTD_CAR_EMB_INT,
					QTD_COR_EMB_DOM,
					QTD_COR_EMB_INT,
					QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,
					QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,
					QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
					QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,
					COD_VOO_CHEGADA_ANT ,
					COD_EMB_VINCULADO ,
					SIG_AEROPORTO_DESTINO ,
					NUM_BOX ,
					TIP_BOX ,
					NME_PONTE,
					NUM_PORTAO,
					DSC_PISTA_POUSO ,
					DSC_PISTA_DECOLAGEM,
					COD_STATUS_ANT,
					COD_STATUS_POS,
					TIP_STATUS,
					FLG_STATUS,
					FLG_TAXI_AEREA,
					FLG_EQUIP_HELICOP,
					DTH_PRI_MOV,
					DTH_ULT_MOV,
					DTH_ULT_SAI_MOV,
					ISNULL(CD_PAR,0) COD_VOO_PARTIDA,
					DTH_ATUALIZACAO,
					QTD_ATUALIZACAO,
					FLG_MIGRADO,
					DTH_MIGRACAO 
			FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
		   WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
			 AND	COD_STATUS = @COD_STATUS
			 AND	NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3, 4)
			 AND	FLG_MIGRADO = 22;


		OPEN emb_cursor

		FETCH NEXT FROM emb_cursor
		INTO @NUM_VOO,
			@DTH_NORMAL_DECOLAGEM,
			@DTH_EFETIVA_DECOLAGEM,
			@COD_CIA_AEREA,
			@SIG_CIA_AEREA_IATA,
			@NME_CIA_AEREA,
			@COD_MATRICULA_AERONAVE,
			@NUM_GRUPO_VOO_EMB,
			@NUM_NATUREZA_VOO_EMB,
			@NUM_CLASSE_VOO_EMB,
			@NUM_CATEGORIA_VOO_EMB,
			@NUM_CATEGORIA_VOO_EMB_VINCULADO,
			@SIG_EQUIPAMENTO,
			@NME_EQUIPAMENTO,
			@QTD_TARIFA_PAGA_BILHETE_DOM_EMB,
			@QTD_TARIFA_PAGA_BILHETE_INT_EMB,
			@QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
			@QTD_TARIFA_PAGA_CHECKIN_INT_EMB,
			@QTD_ISENTA_COLO_EMB,
			@QTD_ISENTA_TRANSITO_EMB,
			@QTD_ISENTA_CONEXAO_EMB_DOM,
			@QTD_ISENTA_CONEXAO_EMB_INT,
			@QTD_ISENTA_OUTRAS_EMB,
			@QTD_BAG_EMB_DOM,
			@QTD_BAG_EMB_INT,
			@QTD_CAR_EMB_DOM,
			@QTD_CAR_EMB_INT,
			@QTD_COR_EMB_DOM,
			@QTD_COR_EMB_INT,
			@QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,
			@QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,
			@QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
			@QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,
			@COD_VOO_CHEGADA_ANT ,
			@COD_EMB_VINCULADO ,
			@SIG_AEROPORTO_DESTINO ,
			@NUM_BOX ,
			@TIP_BOX ,
			@NME_PONTE,
			@NUM_PORTAO,
			@DSC_PISTA_POUSO ,
			@DSC_PISTA_DECOLAGEM,
			@COD_STATUS_ANT,
			@COD_STATUS_POS,
			@TIP_STATUS,
			@FLG_STATUS,
			@FLG_TAXI_AEREA,
			@FLG_EQUIP_HELICOP,
			@DTH_PRI_MOV,
			@DTH_ULT_MOV,
			@DTH_ULT_SAI_MOV,
			@COD_VOO_PARTIDA,
			@DTH_ATUALIZACAO,
			@QTD_ATUALIZACAO,
			@FLG_MIGRADO,
			@DTH_MIGRACAO

		WHILE @@FETCH_STATUS = 0
		BEGIN
	
			BEGIN TRY
				INSERT 
				  INTO	IEOP.dbo.IEOP_EMBARQUE 
				VALUES	(@SIG_AEROPORTO,
						@NUM_VOO,
						@DTH_NORMAL_DECOLAGEM,
						@DTH_EFETIVA_DECOLAGEM,
						@COD_CIA_AEREA,
						@SIG_CIA_AEREA_IATA,
						@NME_CIA_AEREA,
						@COD_MATRICULA_AERONAVE,
						@NUM_GRUPO_VOO_EMB,
						@NUM_NATUREZA_VOO_EMB,
						@NUM_CLASSE_VOO_EMB,
						@NUM_CATEGORIA_VOO_EMB,
						@NUM_CATEGORIA_VOO_EMB_VINCULADO,
						@SIG_EQUIPAMENTO,
						@NME_EQUIPAMENTO,
						@QTD_TARIFA_PAGA_BILHETE_DOM_EMB,
						@QTD_TARIFA_PAGA_BILHETE_INT_EMB,
						@QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
						@QTD_TARIFA_PAGA_CHECKIN_INT_EMB,
						@QTD_ISENTA_COLO_EMB,
						@QTD_ISENTA_TRANSITO_EMB,
						@QTD_ISENTA_CONEXAO_EMB_DOM,
						@QTD_ISENTA_CONEXAO_EMB_INT,
						@QTD_ISENTA_OUTRAS_EMB,
						@QTD_BAG_EMB_DOM,
						@QTD_BAG_EMB_INT,
						@QTD_CAR_EMB_DOM,
						@QTD_CAR_EMB_INT,
						@QTD_COR_EMB_DOM,
						@QTD_COR_EMB_INT,
						@QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,
						@QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,
						@QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
						@QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,
						@COD_VOO_CHEGADA_ANT ,
						@COD_EMB_VINCULADO ,
						@SIG_AEROPORTO_DESTINO ,
						@NUM_BOX ,
						@TIP_BOX ,
						@NME_PONTE,
						@NUM_PORTAO,
						@DSC_PISTA_POUSO ,
						@DSC_PISTA_DECOLAGEM,
						@COD_STATUS,
						@COD_STATUS_ANT,
						@COD_STATUS_POS,
						@TIP_STATUS,
						@FLG_STATUS,
						@FLG_TAXI_AEREA,
						@FLG_EQUIP_HELICOP,
						@DTH_PRI_MOV,
						@DTH_ULT_MOV,
						@DTH_ULT_SAI_MOV,
						@DTH_ATUALIZACAO,
						@QTD_ATUALIZACAO,
						@FLG_MIGRADO,
						@DTH_MIGRACAO,
						@COD_VOO_PARTIDA );
			END TRY

			BEGIN CATCH
				PRINT @SIG_AEROPORTO
				PRINT @COD_STATUS
				PRINT @NUM_VOO
				PRINT @DTH_EFETIVA_DECOLAGEM
			END CATCH

			IF (@TIP_STATUS = 3) BEGIN

				UPDATE	IEOP.[dbo].[IEOP_DESEMBARQUE] 
				   SET	TIP_STATUS = 3
				 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
				   AND	COD_STATUS = @COD_STATUS		

				DELETE	
				  FROM	IEOP.[dbo].[IEOP_MOVIMENTACAO]
				 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
				   AND	COD_STATUS = @COD_STATUS		
			END

			UPDATE  [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
			   SET	FLG_MIGRADO = 33
			 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
			   AND	COD_STATUS = @COD_STATUS
			   AND	FLG_MIGRADO = 22;

			FETCH NEXT FROM emb_cursor
			INTO @NUM_VOO,
				@DTH_NORMAL_DECOLAGEM,
				@DTH_EFETIVA_DECOLAGEM,
				@COD_CIA_AEREA,
				@SIG_CIA_AEREA_IATA,
				@NME_CIA_AEREA,
				@COD_MATRICULA_AERONAVE,
				@NUM_GRUPO_VOO_EMB,
				@NUM_NATUREZA_VOO_EMB,
				@NUM_CLASSE_VOO_EMB,
				@NUM_CATEGORIA_VOO_EMB,
				@NUM_CATEGORIA_VOO_EMB_VINCULADO,
				@SIG_EQUIPAMENTO,
				@NME_EQUIPAMENTO,
				@QTD_TARIFA_PAGA_BILHETE_DOM_EMB,
				@QTD_TARIFA_PAGA_BILHETE_INT_EMB,
				@QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
				@QTD_TARIFA_PAGA_CHECKIN_INT_EMB,
				@QTD_ISENTA_COLO_EMB,
				@QTD_ISENTA_TRANSITO_EMB,
				@QTD_ISENTA_CONEXAO_EMB_DOM,
				@QTD_ISENTA_CONEXAO_EMB_INT,
				@QTD_ISENTA_OUTRAS_EMB,
				@QTD_BAG_EMB_DOM,
				@QTD_BAG_EMB_INT,
				@QTD_CAR_EMB_DOM,
				@QTD_CAR_EMB_INT,
				@QTD_COR_EMB_DOM,
				@QTD_COR_EMB_INT,
				@QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,
				@QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,
				@QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
				@QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,
				@COD_VOO_CHEGADA_ANT ,
				@COD_EMB_VINCULADO ,
				@SIG_AEROPORTO_DESTINO ,
				@NUM_BOX ,
				@TIP_BOX ,
				@NME_PONTE,
				@NUM_PORTAO,
				@DSC_PISTA_POUSO ,
				@DSC_PISTA_DECOLAGEM,
				@COD_STATUS_ANT,
				@COD_STATUS_POS,
				@TIP_STATUS,
				@FLG_STATUS,
				@FLG_TAXI_AEREA,
				@FLG_EQUIP_HELICOP,
				@DTH_PRI_MOV,
				@DTH_ULT_MOV,
				@DTH_ULT_SAI_MOV,
				@COD_VOO_PARTIDA,
				@DTH_ATUALIZACAO,
				@QTD_ATUALIZACAO,
				@FLG_MIGRADO,
				@DTH_MIGRACAO
		END

	SET @COD_STATUS_OLD = @COD_STATUS

	FETCH NEXT FROM emb_cursor_max
	INTO @SIG_AEROPORTO,
			@COD_STATUS,
			@DTH_ATUALIZACAO_MAX

	CLOSE emb_cursor;
	DEALLOCATE emb_cursor;
END;

CLOSE emb_cursor_max;
DEALLOCATE emb_cursor_max;
