USE [IEOP]
GO
/****** Object:  StoredProcedure [dbo].[PRC_MERGE_MOV_NOVO_BIOGER]    Script Date: 31/10/2013 09:13:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROC [dbo].[PRC_MERGE_MOV_NOVO_BIOGER]
AS
SET NOCOUNT ON;

DECLARE	@SIG_AEROPORTO char(4)
	,	@COD_STATUS int
	,	@COD_STATUS_ANT int
	,	@COD_MOVIMENTO int
	,	@TIP_MOVIMENTO char(2)
	,	@DTH_MOVIMENTO smalldatetime
	,	@NUM_BOX varchar(50)
	,	@TIP_BOX tinyint
	,	@NUM_TPS char(1)
	,	@DTH_ATUALIZACAO datetime
	,   @DTH_ATUALIZACAO_MAX datetime
	,	@QTD_ATUALIZACAO smallint
	,	@FLG_MIGRADO tinyint
	,	@DTH_MIGRACAO datetime

UPDATE [IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
SET FLG_MIGRADO = 22
WHERE FLG_MIGRADO = 1;

DECLARE mov_cursor_max CURSOR FOR 
	   SELECT	[SIG_AEROPORTO]
			,	[COD_STATUS]
			,	MAX([DTH_ATUALIZACAO]) DTH_ATUALIZACAO_MAX
		 FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
		WHERE	FLG_MIGRADO = 22
		GROUP
			BY	[SIG_AEROPORTO]
			,	[COD_STATUS]
		ORDER 
			BY	[SIG_AEROPORTO] ASC
			,	[COD_STATUS] ASC;

SET @COD_STATUS_ANT = 1

OPEN mov_cursor_max

FETCH NEXT FROM mov_cursor_max
	INTO	@SIG_AEROPORTO,
			@COD_STATUS,
			@DTH_ATUALIZACAO_MAX

WHILE @@FETCH_STATUS = 0
BEGIN

	IF ( @COD_STATUS_ANT != @COD_STATUS )
	BEGIN
		DELETE	IEOP.DBO.IEOP_MOVIMENTACAO
		 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
		   AND	COD_STATUS = @COD_STATUS;
	END;

	DECLARE mov_cursor CURSOR FOR 
	  SELECT	 [COD_MOVIMENTO]
				,[TIP_MOVIMENTO]
				,[DTH_MOVIMENTO]
				,[NUM_BOX]
				,[TIP_BOX]
				,[NUM_TPS]
				,[QTD_ATUALIZACAO]
				,[FLG_MIGRADO]
				,[DTH_MIGRACAO]
		FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
	   WHERE	SIG_AEROPORTO = @SIG_AEROPORTO 
	     AND	COD_STATUS = @COD_STATUS
		 AND    DTH_ATUALIZACAO = @DTH_ATUALIZACAO_MAX
		 AND    FLG_MIGRADO = 22
	   ORDER 
		  BY	 SIG_AEROPORTO ASC
				,COD_STATUS  ASC
				,COD_MOVIMENTO ASC;

		OPEN mov_cursor
		FETCH NEXT FROM mov_cursor
		INTO @COD_MOVIMENTO
			,@TIP_MOVIMENTO
			,@DTH_MOVIMENTO
			,@NUM_BOX
			,@TIP_BOX
			,@NUM_TPS
			,@QTD_ATUALIZACAO
			,@FLG_MIGRADO
			,@DTH_MIGRACAO

		WHILE @@FETCH_STATUS = 0
		BEGIN

			BEGIN TRY
				INSERT 
				  INTO	IEOP.dbo.IEOP_MOVIMENTACAO 
				VALUES	(@SIG_AEROPORTO
						,@COD_STATUS
						,@COD_MOVIMENTO
						,@TIP_MOVIMENTO
						,@DTH_MOVIMENTO
						,@NUM_BOX
						,@TIP_BOX
						,@NUM_TPS
						,@DTH_ATUALIZACAO
						,@QTD_ATUALIZACAO
						,@FLG_MIGRADO
						,@DTH_MIGRACAO );

				UPDATE	[IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
				   SET	FLG_MIGRADO = 33
				 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
				   AND	COD_STATUS = @COD_STATUS
				   AND  COD_MOVIMENTO = @COD_MOVIMENTO
				   AND  FLG_MIGRADO = 22;

			END TRY

			BEGIN CATCH
				PRINT @SIG_AEROPORTO
				PRINT @COD_STATUS
				PRINT @COD_MOVIMENTO
				PRINT @DTH_MOVIMENTO

				UPDATE	[IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
				   SET	FLG_MIGRADO = 33
				 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
				   AND	COD_STATUS = @COD_STATUS
				   AND  COD_MOVIMENTO = @COD_MOVIMENTO
				   AND  FLG_MIGRADO = 22;
			END CATCH

			SET @COD_STATUS_ANT = @COD_STATUS

			FETCH NEXT FROM mov_cursor
			INTO @COD_MOVIMENTO
				,@TIP_MOVIMENTO
				,@DTH_MOVIMENTO
				,@NUM_BOX
				,@TIP_BOX
				,@NUM_TPS
				,@QTD_ATUALIZACAO
				,@FLG_MIGRADO
				,@DTH_MIGRACAO
		END
		CLOSE mov_cursor;
		DEALLOCATE mov_cursor;

		FETCH NEXT FROM mov_cursor_max
		INTO	@SIG_AEROPORTO,
				@COD_STATUS,
				@DTH_ATUALIZACAO_MAX

END

CLOSE mov_cursor_max;
DEALLOCATE mov_cursor_max;

