DECLARE @DTH_INI VARCHAR(20)
	  ,	@DTH_FIM VARCHAR(20)

SET	@DTH_INI = '20130919 00:00'
SET	@DTH_FIM = '20130920 00:00'

SELECT	[SIG_AEROPORTO]
      ,	COUNT(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
 --WHERE	[DTH_MIGRACAO] BETWEEN @DTH_INI AND @DTH_FIM
 WHERE	[DTH_EFETIVA_DECOLAGEM] BETWEEN @DTH_INI AND @DTH_FIM
 GROUP
	BY	[SIG_AEROPORTO]
COMPUTE SUM(COUNT(1)) 


SELECT	[SIG_AEROPORTO]
      ,	COUNT(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
 --WHERE	[DTH_MIGRACAO] BETWEEN @DTH_INI AND @DTH_FIM
 WHERE	[DTH_EFETIVA_POUSO] BETWEEN @DTH_INI AND @DTH_FIM
 GROUP
	BY	[SIG_AEROPORTO]
COMPUTE SUM(COUNT(1)) 


SELECT	[SIG_AEROPORTO]
      ,	COUNT(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO] WITH (NOLOCK)
 --WHERE	[DTH_MIGRACAO] BETWEEN @DTH_INI AND @DTH_FIM
 WHERE	[DTH_MOVIMENTO] BETWEEN @DTH_INI AND @DTH_FIM
 GROUP
	BY	[SIG_AEROPORTO]
COMPUTE SUM(COUNT(1)) 

GO

--CHECK STATUS
/*
DECLARE @SIG_AEROPORTO VARCHAR(8)
      ,	@COD_STATUS INT

SET		@SIG_AEROPORTO = 'SBGL'
SET		@COD_STATUS = 289808

PRINT 'EMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

PRINT 'DESEMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

PRINT 'MOVIMENTACAO'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

*/

--CHECK DUPLICADAS EM MOV
/*

SELECT	
		[SIG_AEROPORTO]
	  ,	[COD_STATUS]
	  , [COD_MOVIMENTO]
      ,	COUNT(1) TOTAL
  INTO  #TEMP1
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO] WITH (NOLOCK)
 GROUP
	BY	[SIG_AEROPORTO]
	 ,	[COD_STATUS]
	 ,  [COD_MOVIMENTO]
 ORDER
    BY  1,2,3

SELECT	
		[SIG_AEROPORTO]
	  ,	[COD_STATUS]
	  , [COD_MOVIMENTO]
      ,	COUNT(DISTINCT COD_MOVIMENTO) TOTAL
  INTO  #TEMP2
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] WITH (NOLOCK)
 GROUP
	BY	[SIG_AEROPORTO]
	 ,	[COD_STATUS]
	 ,  [COD_MOVIMENTO]
  ORDER
    BY  1,2,3


SELECT  T1.SIG_AEROPORTO
     ,  T1.COD_STATUS
	 ,  T1.COD_MOVIMENTO
	 ,  T1.TOTAL
	 ,  T2.SIG_AEROPORTO
     ,  T2.COD_STATUS
	 ,  T2.COD_MOVIMENTO
	 ,  T2.TOTAL
  FROM	#TEMP1 T1
     ,	#TEMP2 T2
 WHERE	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
   AND  T1.COD_STATUS = T2.COD_STATUS
   AND	T1.COD_MOVIMENTO = T2.COD_MOVIMENTO
   AND  T1.TOTAL != T2.TOTAL	

DROP TABLE #TEMP1
DROP TABLE #TEMP2

*/

--LISTAR MOVIMENTOS ATUAIS
/*

DECLARE @DTH_INI VARCHAR(20)
	  ,	@DTH_FIM VARCHAR(20)

SET	@DTH_INI = '20130919 00:00'
SET	@DTH_FIM = '20130920 00:00'

SELECT	TOP 100 *
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
 WHERE	[DTH_EFETIVA_DECOLAGEM] BETWEEN @DTH_INI AND @DTH_FIM
 ORDER
	BY	[DTH_EFETIVA_DECOLAGEM] DESC


SELECT	TOP 100 *
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
 WHERE	[DTH_EFETIVA_POUSO] BETWEEN @DTH_INI AND @DTH_FIM
 ORDER
	BY	[DTH_EFETIVA_POUSO] DESC


SELECT	TOP 100 *
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO] WITH (NOLOCK)
 WHERE	[DTH_MOVIMENTO] BETWEEN @DTH_INI AND @DTH_FIM
 ORDER
	BY	[DTH_MOVIMENTO] DESC

*/

--REFAZER RECARGA
/*

EXEC [IEOP].[dbo].[PRC_MERGE_MOV_NOVO_BIOGER];

EXEC [IEOP].[dbo].[PRC_MERGE_DES_NOVO_BIOGER];

EXEC [IEOP].[dbo].[PRC_MERGE_EMB_NOVO_BIOGER];



*/

--CHECARG MOVIMENTO POR ANO, MES, DIA, AEROPORTO
/*

SELECT	[SIG_AEROPORTO]
      ,	YEAR([DTH_MOVIMENTO]) AS ANO
	  , MONTH([DTH_MOVIMENTO]) AS MES
	  , DAY([DTH_MOVIMENTO]) AS DIA
      ,	COUNT(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO] WITH (NOLOCK)
 --WHERE	[DTH_MIGRACAO] BETWEEN '20130904 00:00' AND '20130905 00:00'
 WHERE	[DTH_MOVIMENTO] BETWEEN '20130401 00:00' AND '20130501 00:00'
 GROUP
	BY	[SIG_AEROPORTO]
	  , YEAR([DTH_MOVIMENTO])
	  , MONTH([DTH_MOVIMENTO])
	  , DAY([DTH_MOVIMENTO])
  ORDER
     BY 1,3,4
COMPUTE SUM(COUNT(1)) 


*/

/*
PRINT 'EMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
 WHERE	TIP_STATUS = 3

PRINT 'DESEMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
 WHERE	TIP_STATUS = 3


*/



--CHECAR SE TEM DUPLICADO
/*
SELECT	SIG_AEROPORTO
	,	COD_STATUS
	,	COD_MOVIMENTO
	,	COUNT(1) AS TOTAL
  FROM	IEOP.[dbo].[IEOP_MOVIMENTACAO_TEMP]
 WHERE	[DTH_MOVIMENTO] BETWEEN '20130401 00:00' AND '20130501 00:00'
 GROUP
	BY	SIG_AEROPORTO
	,	COD_STATUS
	,	COD_MOVIMENTO
HAVING	COUNT(1) > 1



SELECT	*
  FROM	IEOP.[dbo].[IEOP_MOVIMENTACAO_TEMP]
 WHERE	SIG_AEROPORTO = 'SBPA'
   AND	COD_STATUS = 370280
   AND	COD_MOVIMENTO = 4

*/


/*

DECLARE @SIG_AEROPORTO VARCHAR(8)
      ,	@COD_STATUS INT

SET		@SIG_AEROPORTO = 'SBJR'
SET		@COD_STATUS = 219449

PRINT 'EMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

PRINT 'DESEMBARQUE'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

PRINT 'MOVIMENTACAO'
SELECT	*
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS

   
 /*SELECT	*
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP]
 WHERE	SIG_AEROPORTO = @SIG_AEROPORTO
   AND  COD_STATUS = @COD_STATUS*/  
   
   --UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2 WHERE SIG_AEROPORTO = 'SBJR' AND  COD_STATUS = 219449

*/


--MARRETA 25/09/2013
/*
SELECT	* 
--UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP] AS EMB, 
(SELECT	COD_STATUS
     ,  DTH_ATUALIZACAO
	 ,	count(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE_TEMP]
  WHERE NUM_CATEGORIA_VOO_EMB_VINCULADO  IS NULL
  --UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2
 --WHERE	COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_EMBARQUE] WHERE NUM_CATEGORIA_VOO_EMB_VINCULADO in (3,4))
 GROUP BY COD_STATUS, DTH_ATUALIZACAO
 HAVING COUNT(1) > 1) AS TEMP
 WHERE EMB.COD_STATUS = TEMP.COD_STATUS
   AND EMB.DTH_ATUALIZACAO = TEMP.DTH_ATUALIZACAO
 ORDER BY EMB.COD_STATUS


 --BEGIN TRAN

 --COMMIT TRAN

SELECT	* 
--UPDATE [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] SET FLG_MIGRADO = 2
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] AS EMB, 
(SELECT	COD_STATUS
     ,  DTH_ATUALIZACAO
	 ,	count(1) TOTAL
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP]
  WHERE NUM_CATEGORIA_VOO_DESEMB_VINCULADO  IS NULL
  --UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2
 --WHERE	COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_EMBARQUE] WHERE NUM_CATEGORIA_VOO_EMB_VINCULADO in (3,4))
 GROUP BY COD_STATUS, DTH_ATUALIZACAO
 HAVING COUNT(1) > 1) AS TEMP
 WHERE EMB.COD_STATUS = TEMP.COD_STATUS
   AND EMB.DTH_ATUALIZACAO = TEMP.DTH_ATUALIZACAO
 ORDER BY EMB.COD_STATUS


/*
SELECT	count(1)
  FROM	[IEOP].[dbo].[IEOP_EMBARQUE]
  --UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2 WHERE COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] WHERE NUM_CATEGORIA_VOO_EMB_VINCULADO in (3,4)) AND SIG_AEROPORTO IN ('SBBH')
 WHERE	COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_EMBARQUE] WHERE NUM_CATEGORIA_VOO_EMB_VINCULADO in (3,4))
   AND  SIG_AEROPORTO IN ('SBBH')

SELECT	count(1)
  FROM	[IEOP].[dbo].[IEOP_DESEMBARQUE]
  --UPDATE [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] SET FLG_MIGRADO = 2 WHERE COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] WHERE NUM_CATEGORIA_VOO_DESEMB_VINCULADO in (3,4)) AND SIG_AEROPORTO IN ('SBBH')
 WHERE	COD_STATUS IN (SELECT COD_STATUS FROM [IEOP].[dbo].[IEOP_DESEMBARQUE] WHERE NUM_CATEGORIA_VOO_DESEMB_VINCULADO in (3,4))
   AND  SIG_AEROPORTO IN ('SBBH')
 */

 */

 ---RECARGA FULLL
 /*
 UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
   SET FLG_MIGRADO = 2
 WHERE [DTH_NORMAL_DECOLAGEM] >= '20131001' 
   AND [DTH_NORMAL_DECOLAGEM] < '20131010'

UPDATE [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] 
   SET FLG_MIGRADO = 2
 WHERE [DTH_NORMAL_POUSO] >= '20131001' 
   AND [DTH_NORMAL_POUSO] < '20131010'

UPDATE [IEOP].[dbo].[IEOP_MOVIMENTACAO_TEMP] 
   SET FLG_MIGRADO = 2
 WHERE [DTH_MOVIMENTO] >= '20131001' 
   AND [DTH_MOVIMENTO] < '20131010'


DELETE --SELECT COUNT(1)
  FROM [IEOP].[dbo].[IEOP_EMBARQUE] 
 WHERE [DTH_EFETIVA_DECOLAGEM] >= '20130901' 
   AND [DTH_EFETIVA_DECOLAGEM] < '20131001'

DELETE --SELECT COUNT(1)
  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE] 
 WHERE [DTH_EFETIVA_POUSO] >= '20130901' 
   AND [DTH_EFETIVA_POUSO] < '20131001'

DELETE --SELECT COUNT(1)
  FROM [IEOP].[dbo].[IEOP_MOVIMENTACAO] 
 WHERE [DTH_MOVIMENTO] >= '20130901' 
   AND [DTH_MOVIMENTO] < '20131001'
 */

 --MARRETA VOS CANCELADO TIP_STATUS = 3
 /*
 SELECT *
  --UPDATE [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] SET FLG_MIGRADO = 2
  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] T1, 
	 (SELECT COD_STATUS, SIG_AEROPORTO
	  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE_TEMP] 
	 WHERE [DTH_NORMAL_POUSO] >= '20130901' 
	   AND [DTH_NORMAL_POUSO] < '20131001'
	   AND TIP_STATUS = 3) T2
 WHERE T1.COD_STATUS = T2.COD_STATUS
   AND T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
ORDER BY T2.SIG_AEROPORTO, T2.COD_STATUS

SELECT *
  --UPDATE [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] SET FLG_MIGRADO = 2
  FROM [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] T1, 
	 (SELECT COD_STATUS, SIG_AEROPORTO
	  FROM [IEOP].[dbo].[IEOP_EMBARQUE_TEMP] 
	 WHERE [DTH_NORMAL_DECOLAGEM] >= '20130901' 
	   AND [DTH_NORMAL_DECOLAGEM] < '20131001'
	   AND TIP_STATUS = 3) T2
 WHERE T1.COD_STATUS = T2.COD_STATUS
   AND T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
ORDER BY T2.SIG_AEROPORTO, T2.COD_STATUS

 */


 /*

SELECT	T2.COD_STATUS, T1.*
--UPDATE  IEOP.dbo.IEOP_EMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IS NULL
				   AND  E.COD_STATUS NOT IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO


	DELETE IEOP.dbo.IEOP_EMBARQUE WHERE FLG_MIGRADO = 99


SELECT	T2.COD_STATUS, T1.*
--UPDATE  IEOP.dbo.IEOP_DESEMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_DESEMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_DESEMB_VINCULADO IS NULL
				   AND  E.COD_STATUS NOT IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_DESEMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_DESEMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

	--DELETE IEOP.dbo.IEOP_DESEMBARQUE WHERE FLG_MIGRADO = 99



 */

 --COPIA DA INTEGRACAO
 /*
 --DES
 	SELECT  
			 LTRIM(RTRIM(SIGLA_AEROPORTO)) SIGLA_AEROPORTO
			,LTRIM(RTRIM(NR_CHG_VOO)) NR_CHG_VOO
			,DH_CHG_NRM
			,DH_CHG_EFE
			,CD_COM
			,LTRIM(RTRIM(SG_COM_IAT_003)) SG_COM_IAT_003
			,LTRIM(RTRIM(NOME_CIA)) NOME_CIA
			,LTRIM(RTRIM(NR_AEN)) NR_AEN
			,TP_CHG_GRU
			,TP_CHG_NAT
			,TP_CHG
			,TP_CHG_CTG
			,TP_CHG_CTG_VIN
			,LTRIM(RTRIM(SG_EQP)) SG_EQP
			,LTRIM(RTRIM(NM_EQP)) NM_EQP
			,QT_DEC_DES_DOM, QT_DEC_DES_INT, QT_DEC_DES_BAG_DOM
			,QT_DEC_DES_BAG_INT, QT_DEC_DES_CAR_DOM, QT_DEC_DES_CAR_INT
			,QT_DEC_DES_COR_DOM, QT_DEC_DES_COR_INT, QT_DEC_TRA_BAG_DOM
			,QT_DEC_TRA_BAG_INT, QT_DEC_TRA_CAR_DOM, QT_DEC_TRA_CAR_INT
			,QT_DEC_TRA_COR_DOM, QT_DEC_TRA_COR_INT, QT_DEC_TRA_DOM_CX,QT_DEC_TRA_INT_CX
			,ISNULL(LTRIM(RTRIM(CD_CHG)),0) CD_CHG
			,LTRIM(RTRIM(CD_CHG_VIN)) CD_CHG_VIN
			,LTRIM(RTRIM(SIGLA_AEROPORTO_PRO)) SIGLA_AEROPORTO_PRO
			,LTRIM(RTRIM(NR_BOX)) NR_BOX
			,LTRIM(RTRIM(TP_BOX)) TP_BOX
			,LTRIM(RTRIM(NM_PON)) NM_PON
			,LTRIM(RTRIM(NR_EST)) NR_EST
			,LTRIM(RTRIM(PIS_PO)) PIS_PO
			,LTRIM(RTRIM(PIS_DE)) PIS_DE
			,CD_STA
			,CD_STA_ANT
			,CD_STA_POS
			,TP_STA
			,FL_STATUS
			,FLAG_ISE
			,FLAG_AVISTA
			,FL_AEN_TAX
			,FL_EQP_HLC
			,HR_MOV_PRI
			,HR_MOV_PRI_ENT
			,HR_MOV_ULT
			,DTH_ATUALIZACAO
			,0 QTD_ATUALIZACAO
			,1 FLG_MIGRADO
			,GETDATE() DTH_MIGRACAO		
			INTO IEOP..TMP_INTEGRACAO_IEOP_DES_SBGL	
		FROM [SBGL - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_DES_NEW] WITH (NOLOCK)
	   WHERE DH_CHG_EFE >= '20130901'
	     AND DH_CHG_EFE <  '20131001' 


--EMB
    SELECT  
			 LTRIM(RTRIM(SIGLA_AEROPORTO)) SIGLA_AEROPORTO 
			,LTRIM(RTRIM(NR_PAR_VOO)) NR_PAR_VOO
			,DH_PAR_NRM
			,DH_PAR_EFE
			,CD_COM
			,LTRIM(RTRIM(SG_COM_IAT_003)) SG_COM_IAT_003
			,LTRIM(RTRIM(NOME_CIA)) NOME_CIA
			,LTRIM(RTRIM(NR_AEN)) NR_AEN
			,TP_PAR_GRU
			,TP_PAR_NAT
			,TP_PAR
			,TP_PAR_CTG
			,TP_PAR_CTG_VIN
			,LTRIM(RTRIM(SG_EQP)) SG_EQP
			,LTRIM(RTRIM(NM_EQP)) NM_EQP
			,QT_DEP_TFB_DOM,QT_DEP_TFB_INT,QT_DEP_TFC_DOM
			,QT_DEP_TFC_INT,QT_DEP_ISE_COL,QT_DEP_ISE_TRA
			,QT_DEP_ISE_CON_DOM,QT_DEP_ISE_CON_INT,QT_DEP_ISE_OUT
			,QT_DEP_EMB_BAG_DOM,QT_DEP_EMB_BAG_INT,QT_DEP_EMB_CAR_DOM
			,QT_DEP_EMB_CAR_INT,QT_DEP_EMB_COR_DOM,QT_DEP_EMB_COR_INT
			,QT_DEP_TFB_DOM_ANT,QT_DEP_TFB_INT_ANT,QT_DEP_TFC_DOM_ANT,QT_DEP_TFC_INT_ANT
			,LTRIM(RTRIM(CD_CHG_AEN_ANT)) CD_CHG_AEN_ANT
			,LTRIM(RTRIM(CD_PAR_VIN)) CD_PAR_VIN
			,LTRIM(RTRIM(SIGLA_AEROPORTO_DES)) SIGLA_AEROPORTO_DES
			,LTRIM(RTRIM(NR_BOX)) NR_BOX
			,LTRIM(RTRIM(TP_BOX)) TP_BOX
			,LTRIM(RTRIM(NM_PON)) NM_PON
			,LTRIM(RTRIM(NR_POR)) NR_POR
			,LTRIM(RTRIM(PIS_PO)) PIS_PO
			,LTRIM(RTRIM(PIS_DE)) PIS_DE
			,CD_STA
			,CD_STA_ANT
			,CD_STA_POS
			,TP_STA
			,FL_STATUS
			,FL_AEN_TAX
			,FL_EQP_HLC
			,HR_MOV_PRI
			,HR_MOV_ULT
			,HR_MOV_ULT_SAI
			,ISNULL(CD_PAR,0) CD_PAR
			,DTH_ATUALIZACAO
			,0 QTD_ATUALIZACAO
			,1 FLG_MIGRADO
			,GETDATE() DTH_MIGRACAO		
			INTO IEOP..TMP_INTEGRACAO_IEOP_EMB_SBGL		
		FROM [SBGL - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_EMB_NEW] WITH (NOLOCK)
	   WHERE DH_PAR_EFE >= '20130901'
	     AND DH_PAR_EFE <  '20131001' 

--MOV
 SELECT  
			 LTRIM(RTRIM(sigla_aeroporto)) sigla_aeroporto
			,CD_STA
			,CD_MOV
			,LTRIM(RTRIM(TIPO_MOV)) TIPO_MOV
			,HR_MOV
			,LTRIM(RTRIM(NR_BOX)) NR_BOX
			,TIPO_BOX
			,LTRIM(RTRIM(NR_TPS)) NR_TPS
			,DTH_ATUALIZACAO
			,0 QTD_ATUALIZACAO
			,1 FLG_MIGRADO
			,GETDATE() DTH_MIGRACAO		
			INTO IEOP..TMP_INTEGRACAO_IEOP_MOV_SBGL		
		FROM [SBGL - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_MOV_NEW] WITH (NOLOCK)
	   WHERE HR_MOV >= '20130901'
	     AND HR_MOV <  '20131001' 
 */