SELECT	T2.COD_STATUS, T1.*
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IS NULL
				   AND  E.COD_STATUS NOT IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

SELECT	T2.COD_STATUS, T1.*
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IS NULL
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

SELECT	T2.COD_STATUS, T1.*
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4)
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_VOO = E.NUM_VOO AND COD_CIA_AEREA =  E.COD_CIA_AEREA AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO


/* 

UPDATE  IEOP.dbo.IEOP_EMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IS NULL
				   AND  E.COD_STATUS NOT IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

UPDATE  IEOP.dbo.IEOP_EMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IS NULL
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

UPDATE  IEOP.dbo.IEOP_EMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_EMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_EMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_EMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4)
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_EMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_VOO = E.NUM_VOO AND COD_CIA_AEREA =  E.COD_CIA_AEREA AND NUM_CATEGORIA_VOO_EMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

UPDATE  IEOP.dbo.IEOP_DESEMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_DESEMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_DESEMB_VINCULADO IS NULL
				   AND  E.COD_STATUS NOT IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_DESEMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_DESEMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO


UPDATE  IEOP.dbo.IEOP_DESEMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_DESEMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_DESEMB_VINCULADO IS NULL
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_DESEMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_CATEGORIA_VOO_DESEMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

UPDATE  IEOP.dbo.IEOP_DESEMBARQUE SET FLG_MIGRADO = 99
  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
     ,  (
		SELECT	T1.SIG_AEROPORTO, T1.COD_STATUS, MIN(DTH_ATUALIZACAO) DTH_ATUALIZACAO
		  FROM	IEOP.dbo.IEOP_DESEMBARQUE T1
			 ,	(SELECT	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
					 ,  COUNT(1) TOTAL
				  FROM	IEOP.dbo.IEOP_DESEMBARQUE E
				 WHERE  E.NUM_CATEGORIA_VOO_DESEMB_VINCULADO IN (3,4)
				   AND  E.COD_STATUS IN (SELECT COD_STATUS FROM IEOP.dbo.IEOP_DESEMBARQUE WHERE  SIG_AEROPORTO = E.SIG_AEROPORTO AND NUM_VOO = E.NUM_VOO AND COD_CIA_AEREA =  E.COD_CIA_AEREA AND NUM_CATEGORIA_VOO_DESEMB_VINCULADO IN (3,4))
				 GROUP
					BY	E.SIG_AEROPORTO
					 ,	E.COD_STATUS
					 ,  E.COD_CIA_AEREA
					 ,	E.NUM_VOO
				HAVING  COUNT(1) > 1) T2
		 WHERE	T1.COD_STATUS = T2.COD_STATUS
		   AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
		 GROUP
			BY  T1.SIG_AEROPORTO, T1.COD_STATUS) T2
  WHERE	T1.COD_STATUS = T2.COD_STATUS
	AND	T1.SIG_AEROPORTO = T2.SIG_AEROPORTO
	AND T1.DTH_ATUALIZACAO = T2.DTH_ATUALIZACAO

DELETE IEOP.dbo.IEOP_EMBARQUE WHERE FLG_MIGRADO = 99

DELETE IEOP.dbo.IEOP_DESEMBARQUE WHERE FLG_MIGRADO = 99
*/
