sp_who2


/****** Script for SelectTopNRows command from SSMS  ******/
--CREATE VIEW VIW_DADOS_WLU_EFICIENCIA AS 
SELECT [SIG_AEROPORTO]
      ,[ANO_REF]
	  ,SUM([NUM_WLU_PAX]) WLU_PAX
	  ,SUM([NUM_WLU_TECA]) WLU_TECA
      ,SUM([NUM_WLU_PAX] + [NUM_WLU_TECA]) WLU
	  ,CONVERT(BIGINT, ROUND(SUM(VAL_CUSTO)/1000,0)) CUSTO
	  ,( SUM([NUM_WLU_PAX] + [NUM_WLU_TECA]) / ROUND(SUM(VAL_CUSTO)/1000,0) ) EFICIENCIA
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA]
 WHERE [ANO_REF] = 2014
 GROUP
    BY	[SIG_AEROPORTO]
      , [ANO_REF]
 ORDER
    BY	7 DESC

SELECT	*
  FROM	DM_DA..VIW_DADOS_WLU_EFICIENCIA
 WHERE  [ANO_REF] = 2013


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT ROUND(SUM(PES_CARGA)/100,0) TOTAL_ANO
  FROM [DM_DA].[dbo].[AUX_DADOS_CARGA_TECA]
 WHERE [COD_DEPENDENCIA] = 10
   AND ANO_REFERENCIA = 2012

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT SUM([QTD_PAX])
  FROM [BIOGER].[dbo].[VIW_DADOS_BIOGER_INDICADORES_DA]
 WHERE SIG_AEROPORTO = 'SBFZ'
   AND ANO = 2012



/****** Script for SelectTopNRows command from SSMS  ******/
--CREATE VIEW VIW_DADOS_DESPESAS_SS AS
SELECT  * FROM (
		SELECT --[custo]
			  --,[conta]
			  (SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
			  ROUND(SUM([vl_jan]+[vl_fev]+[vl_mar]+[vl_abr]+[vl_mai]+[vl_jun]+[vl_jul]+[vl_ago]+[vl_set]+[vl_out]+[vl_nov]+[vl_dez])/1000, 2) TOTAL
		  FROM [DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
		 WHERE ANO=2013
		   --AND DEPENDENCIA in('010') --,'005')
		   --AND custo not IN (142106,141109,142110,142201,142303,142314,145108,142325)
		 GROUP BY DEPENDENCIA
		 /* [custo]
			  --,[conta]*/) T
 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
   AND  DEP NOT IN ('SBBR', 'SBKP', 'SBGR')
 ORDER BY 1--,2

SELECT TOP 100 * FROM VIW_DADOS_DESPESAS_SS

SELECT TOP 100 * FROM [AUX_DADOS_DESPESAS_SS]

 -- EXEC IFRCORP.[dbo].[PRC_CARGA_REVISADA]

 -- USE DM_DA



/*
--CARGA DOS DADOS PARA CALCULO DE EFICIENCIA
--PASSO 1: CARGA DOS DADOS DE PAX
--CARGA INICIAL...

--INSERT INTO DM_DA.[dbo].[TAB_IND_EFICIENCIA]
SELECT  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO
	 ,  (SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = T.DEP_CODIGO) DSC_AEROPORTO
	 ,	SUM(B.[QTD_PAX]) NUM_WLU_PAC
	 ,  0 NUM_WLU_TECA
	 ,  0 NUM_CUSTO
  FROM [BIOGER].[dbo].[VIW_DADOS_BIOGER_INDICADORES_DA] B
     , IFRCORP.[dbo].[TAB_TIPO_AEROPORTO_DA] T
 WHERE B.SIG_AEROPORTO = T.DEP_SIGLA COLLATE SQL_Latin1_General_CP1_CI_AI
   --AND B.SIG_AEROPORTO = 'SBFZ'
   AND B.ANO IN (2011, 2012)
 GROUP
    BY  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO

--INSERT INTO DM_DA.[dbo].[TAB_IND_EFICIENCIA]
SELECT  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO
	 ,  (SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = T.DEP_CODIGO) DSC_AEROPORTO
	 ,	SUM(B.[QTD_PAX]) NUM_WLU_PAC
	 ,  0 NUM_WLU_TECA
	 ,  0 NUM_CUSTO
  FROM [IEOP].[dbo].[VIW_DADOS_IEOP_INDICADORES_DA] B
     , IFRCORP.[dbo].[TAB_TIPO_AEROPORTO_DA] T
 WHERE B.SIG_AEROPORTO = T.DEP_SIGLA COLLATE SQL_Latin1_General_CP1_CI_AI
   --AND B.SIG_AEROPORTO = 'SBFZ'
   AND B.ANO IN (2013)
 GROUP
    BY  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO
ORDER BY 2,3

--CARGA MENSAL. TEM QUE DELETAR O ANO CORRENTE E INSERIR NOVAMENTE
--INSERT INTO DM_DA.[dbo].[TAB_IND_EFICIENCIA]
SELECT  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO
	 ,  (SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = T.DEP_CODIGO) DSC_AEROPORTO
	 ,	SUM(B.[QTD_PAX]) NUM_WLU_PAC
	 ,  0 NUM_WLU_TECA
	 ,  0 NUM_CUSTO
  FROM [IEOP].[dbo].[VIW_DADOS_IEOP_INDICADORES_DA] B
     , IFRCORP.[dbo].[TAB_TIPO_AEROPORTO_DA] T
 WHERE B.SIG_AEROPORTO = T.DEP_SIGLA COLLATE SQL_Latin1_General_CP1_CI_AI
   --AND B.SIG_AEROPORTO = 'SBFZ'
   AND B.ANO IN (YEAR(GETDATE()))
   AND B.MES < (MONTH(GETDATE()))
 GROUP
    BY  T.DEP_CODIGO
     ,	B.ANO
	 ,  B.MES
	 ,  B.SIG_AEROPORTO
ORDER BY 2,3

--PASSO 2: ATUALIZAÇÃO DOS DADOS DE WLU DO TECA
--CARGA INICIAL...

SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET NUM_WLU_TECA = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT E.COD_AEROPORTO
			 , T.ANO_REFERENCIA ANO_REF
			 , T.MES_REFERENCIA MES_REF
			 , ROUND(SUM(T.PES_CARGA)/100000,0) TOTAL_ANO
		  FROM [DM_DA].[dbo].[AUX_DADOS_CARGA_TECA] T
			 , [DM_DA].[dbo].[TAB_IND_EFICIENCIA] E
		 WHERE T.[COD_DEPENDENCIA] = E.COD_AEROPORTO
		   --AND T.[COD_DEPENDENCIA] = 10
		   AND T.ANO_REFERENCIA IN(2011, 2012, 2013, 2014)
		 GROUP
			BY E.COD_AEROPORTO
			 , T.ANO_REFERENCIA
			 , T.MES_REFERENCIA
			 ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


--CARGA MENSAL.
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET NUM_WLU_TECA = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT E.COD_AEROPORTO
			 , T.ANO_REFERENCIA ANO_REF
			 , T.MES_REFERENCIA MES_REF
			 , ROUND(SUM(T.PES_CARGA)/100,0) TOTAL_ANO
		  FROM [DM_DA].[dbo].[AUX_DADOS_CARGA_TECA] T
			 , [DM_DA].[dbo].[TAB_IND_EFICIENCIA] E
		 WHERE T.[COD_DEPENDENCIA] = E.COD_AEROPORTO
		   --AND T.[COD_DEPENDENCIA] = 10
		   AND T.ANO_REFERENCIA IN (YEAR(GETDATE()))
		 GROUP
			BY E.COD_AEROPORTO
			 , T.ANO_REFERENCIA
			 , T.MES_REFERENCIA
			 ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


--PASSO 3: ATUALIZAÇÃO DOS DADOS DE CUSTO
--CARGA INICIAL...1 PARA CADA MÊS
--JAN
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						01 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_jan]),2) AS TOTAL_ANO--+[vl_fev]+[vl_mar]+[vl_abr]+[vl_mai]+[vl_jun]+[vl_jul]+[vl_ago]+[vl_set]+[vl_out]+[vl_nov]+[vl_dez])/1000, 2) TOTAL
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--FEV
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						02 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_fev]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--MAR
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						03 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_mar]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--ABR
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						04 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_abr]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--MAI
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						05 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_mai]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--JUN
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						6 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_jun]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

--JUL
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						7 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_jul]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


--AGO
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						8 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_ago]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


--SET
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						9 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_set]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


--OUT
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						10 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_out]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF


-NOV
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						11 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_nov]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF

-DEZ
SELECT EE.*, TT.TOTAL_ANO
 --UPDATE [DM_DA].[dbo].[TAB_IND_EFICIENCIA] SET VAL_CUSTO = TT.TOTAL_ANO
  FROM [DM_DA].[dbo].[TAB_IND_EFICIENCIA] EE
     , (
		SELECT  COD_AEROPORTO, MES_REF, ANO_REF, TOTAL_ANO 
		  FROM (
				SELECT	CONVERT(INT, DEPENDENCIA) COD_AEROPORTO,
						ANO ANO_REF,
						12 MES_REF,
						(SELECT DEP_SIGLA + ' - ' + DEP_NOME FROM IFRCORP..DEPENDENCIAS WHERE DEP_DATA_EXTINCAO IS NULL AND DEP_CODIGO = DEPENDENCIA) DEP,
								ROUND(SUM([vl_dez]),2) AS TOTAL_ANO
						   FROM	[DM_DA].[dbo].[AUX_DADOS_DESPESAS_SS]
						  GROUP BY ANO,DEPENDENCIA) AS T
		 WHERE (DEP LIKE 'SB%' AND DEP NOT LIKE '%GRUPAMENTO%')
		   AND  DEP NOT LIKE 'SBBR%'
		   AND  DEP NOT LIKE 'SBKP%'
		   AND  DEP NOT LIKE 'SBGR%' ) TT
 WHERE  EE.COD_AEROPORTO = TT.COD_AEROPORTO
   AND  EE.ANO_REF = TT.ANO_REF
   AND  EE.MES_REF = TT.MES_REF



--*****************************************************************************************
--CARGA DADOS TECA - NOVA CONSULTA JAYME
--*****************************************************************************************
SELECT    aer_cod AS COD_DEPENDENCIA, 
          TO_CHAR( data_recebimento, 'RRRR') AS ANO_REFERENCIA, 
          TO_CHAR( data_recebimento, 'MM') AS MES_REFERENCIA, 
          SUM (peso) / 1000 AS PES_CARGA 
FROM      viw_tempo_medio_recebimento 
WHERE     data_recebimento > TO_DATE('31/12/2011','DD/MM/RRRR')
GROUP BY  aer_cod 
       ,  TO_CHAR( data_recebimento, 'RRRR')
       ,  TO_CHAR( data_recebimento, 'MM')

*/



