USE [DM_DA]
GO

--INSERT INTO DM_DA..DIM_DEPENDENCIAS
SELECT	
		--NULL KEY_DEPENDENCIA,
	 	DEP.DEP_CODIGO CODIGO_DEPENDENCIA
     ,	DEP.DEP_SIGLA SIGLA_DEPENDENCIA
	 ,	DEP.DEP_NOME NOME_DEPENDENCIA
     ,	DEP.DEP_DEP_CODIGO CODIGO_CENTRO_SUPORTE
	 ,  (SELECT DEP_SIGLA FROM IFRCORP.dbo.DEPENDENCIAS WHERE DEP_CODIGO = DEP.DEP_DEP_CODIGO) SIGLA_CENTRO_SUPORTE
	 ,  (SELECT DEP_NOME FROM IFRCORP.dbo.DEPENDENCIAS WHERE DEP_CODIGO = DEP.DEP_DEP_CODIGO) NOME_CENTRO_SUPORTE
	 ,	CASE TIP.TIP_AEROPORTO 
			WHEN 'A' THEN 'DAAA'
			WHEN 'B' THEN 'DAAB'
			WHEN 'C' THEN 'DAAC'
			ELSE 'OUTRO'
	    END SUPERINTENDENCIA_SEDE
		--INTO DM_DA..DIM_DEPENDENCIAS
  FROM	IFRCORP.dbo.DEPENDENCIAS DEP
     ,	IFRCORP.dbo.TAB_TIPO_AEROPORTO_DA TIP
 WHERE	DEP.DEP_CODIGO = TIP.DEP_CODIGO
   AND	DEP.DEP_DATA_EXTINCAO IS NULL
 ORDER
    BY	7, 3


--INSERT INTO DM_DA..DIM_UNIDADES_ORGANIZACIONAIS
SELECT 
		--NULL KEY_UOR,
	 	UOR.UOR_CODIGO CODIGO_UOR
     ,	UOR.UOR_SIGLA SIGLA_UOR
	 ,	UOR.UOR_NOME NOME_UOR
	 ,  NULL KEY_DEPENDENCIA
     ,	UOR.UOR_DEP_CODIGO CODIGO_DEPENDENCIA
	 ,	DEP.SIGLA_DEPENDENCIA
     ,	ISNULL(UOR.UOR_UOR_CODIGO, UOR.UOR_CODIGO) CODIGO_UOR_PAI
	 ,	(SELECT UOR_SIGLA FROM IFRCORP.dbo.UNIDADES_ORGANIZACIONAIS WHERE UOR_CODIGO = ISNULL(UOR.UOR_UOR_CODIGO, UOR.UOR_CODIGO)) SIGLA_UOR_PAI
	 ,	(SELECT UOR_NOME FROM IFRCORP.dbo.UNIDADES_ORGANIZACIONAIS WHERE UOR_CODIGO = ISNULL(UOR.UOR_UOR_CODIGO, UOR.UOR_CODIGO)) NOME_UOR_PAI
	 --INTO DM_DA..DIM_UNIDADES_ORGANIZACIONAIS
  FROM	IFRCORP.dbo.UNIDADES_ORGANIZACIONAIS UOR
     ,	DM_DA.[dbo].[DIM_DEPENDENCIAS] DEP
 WHERE	UOR.UOR_DATA_EXTINCAO IS NULL
   AND	DEP.CODIGO_DEPENDENCIA = UOR.UOR_DEP_CODIGO


SELECT [ID_EMPREGADO]
      ,[NUMERO_MATRICULA]
      ,[NOME]
      ,[SEXO]
      ,[CARGO]
      ,[OCUPACAO]
      ,[FUNCAO]
      ,[CATEGORIA_FUNCAO]
      ,(SELECT KEY_DEPENDENCIA FROM DM_DA.[dbo].DIM_DEPENDENCIAS WHERE SIGLA_DEPENDENCIA = substring([DEPENDENCIA],1,4)) [KEY_DEPENDENCIA]
      ,[DEPENDENCIA]
	  ,(SELECT TOP 1 KEY_UOR FROM DM_DA.[dbo].DIM_UNIDADES_ORGANIZACIONAIS WHERE SIGLA_UOR = substring([LOTACAO],1,4)) [KEY_UOR]
      ,[LOTACAO]
      ,[CENTRO_CUSTOS]
      ,[ENDERECO_ELETRONICO_MAIL]
      ,[TIP_AEROPORTO]
  FROM DM_DA.[dbo].[FATO_EMPREGADOS]
GO

/*

UPDATE DM_DA.[dbo].[FATO_EMPREGADOS]
   SET [KEY_DEPENDENCIA] = (SELECT KEY_DEPENDENCIA FROM DM_DA.[dbo].DIM_DEPENDENCIAS WHERE SIGLA_DEPENDENCIA = substring([DEPENDENCIA],1,4))


UPDATE DM_DA.[dbo].[FATO_EMPREGADOS]
   SET [KEY_UOR] = (SELECT TOP 1 KEY_UOR FROM DM_DA.[dbo].DIM_UNIDADES_ORGANIZACIONAIS WHERE [SIGLA_UOR] + ' - ' + [NOME_UOR]  = [LOTACAO] AND [SIGLA_DEPENDENCIA] = substring([DEPENDENCIA],1,4))



--OPÇÃO 1) COM DEP E UOR LOTACAO
SELECT EI.[EMP_NUMERO_MATRICULA] AS NUMERO_MATRICULA
      ,EI.[EMP_NOME] AS NOME
      ,EI.[EMP_INDICADOR_SEXO] AS SEXO
      ,EI.[CAR_SIGLA] + ' - ' + [CAR_NOME] AS CARGO
      ,EI.[OCC_DESCRICAO] AS OCUPACAO
      ,EI.[FUN_DESCRICAO] AS FUNCAO
      ,EI.[CFU_NOME] AS CATEGORIA_FUNCAO
      , NULL AS KEY_DEPENDENCIA
      --,EI.[DEP_SIGLA] + ' - ' + EI.[DEP_NOME] AS DEPENDENCIA_LOTACAO
	  ,(SELECT TOP 1 DEP_SIGLA + ' - ' + DEP_NOME FROM [IFRCORP].[dbo].DEPENDENCIAS WHERE DEP_CODIGO = EI.EMP_DEP_CODIGO_LOTACAO AND DEP_DATA_EXTINCAO IS NULL ORDER BY DEP_DATA_CRIACAO DESC) AS DEPENDENCIA
	  ,NULL AS KEY_UOR
      ,(SELECT TOP 1 UOR_SIGLA + ' - ' + UOR_NOME FROM [IFRCORP].[dbo].UNIDADES_ORGANIZACIONAIS WHERE UOR_DEP_CODIGO = EI.EMP_DEP_CODIGO_LOTACAO AND UOR_SIGLA = EI.UOR_SIGLA AND UOR_DATA_EXTINCAO IS NULL ORDER BY UOR_DATA_CRIACAO DESC) AS LOTACAO
      ,EI.[EMP_ATI_CT_CUSTOS]
      ,EI.[EMP_ENDERECO_ELETRONICO_MAIL]
	  ,TAD.TIP_AEROPORTO
  FROM [IFRCORP].[dbo].[EMPREGADOS_INFRAERO] EI
     , [IFRCORP].[dbo].[TAB_TIPO_AEROPORTO_DA] TAD
 WHERE EI.[DEP_SIGLA] LIKE 'SB%'
   AND EI.[UOR_SIGLA_FISICA] != 'CEDIDO'
   AND EI.EMP_DEP_CODIGO_FISICO = TAD.[DEP_CODIGO]


--OPÇÃO 2) COM DEP E UOR FISICA
SELECT EI.[EMP_NUMERO_MATRICULA] AS NUMERO_MATRICULA
      ,EI.[EMP_NOME] AS NOME
      ,EI.[EMP_INDICADOR_SEXO] AS SEXO
      ,EI.[CAR_SIGLA] + ' - ' + [CAR_NOME] AS CARGO
      ,EI.[OCC_DESCRICAO] AS OCUPACAO
      ,EI.[FUN_DESCRICAO] AS FUNCAO
      ,EI.[CFU_NOME] AS CATEGORIA_FUNCAO
      , NULL AS KEY_DEPENDENCIA
      --,EI.[DEP_SIGLA] + ' - ' + EI.[DEP_NOME] AS DEPENDENCIA_LOTACAO
	  ,(SELECT TOP 1 DEP_SIGLA + ' - ' + DEP_NOME FROM [IFRCORP].[dbo].DEPENDENCIAS WHERE DEP_CODIGO = EI.EMP_DEP_CODIGO_FISICO AND DEP_DATA_EXTINCAO IS NULL ORDER BY DEP_DATA_CRIACAO DESC) AS DEPENDENCIA
	  ,NULL AS KEY_UOR
      ,(SELECT TOP 1 UOR_SIGLA + ' - ' + UOR_NOME FROM [IFRCORP].[dbo].UNIDADES_ORGANIZACIONAIS WHERE UOR_DEP_CODIGO = EI.EMP_DEP_CODIGO_FISICO AND UOR_SIGLA = EI.UOR_SIGLA_FISICA AND UOR_DATA_EXTINCAO IS NULL ORDER BY UOR_DATA_CRIACAO DESC) AS LOTACAO
      ,EI.[EMP_ATI_CT_CUSTOS]
      ,EI.[EMP_ENDERECO_ELETRONICO_MAIL]
	  ,TAD.TIP_AEROPORTO
  FROM [IFRCORP].[dbo].[EMPREGADOS_INFRAERO] EI
     , [IFRCORP].[dbo].[TAB_TIPO_AEROPORTO_DA] TAD
 WHERE EI.[DEP_SIGLA] LIKE 'SB%'
   AND EI.[UOR_SIGLA_FISICA] != 'CEDIDO'
   AND EI.EMP_DEP_CODIGO_FISICO = TAD.[DEP_CODIGO]


--OPÇÃO 3) COM DEP FISICA E UOR LOTACAO
SELECT EI.[EMP_NUMERO_MATRICULA] AS NUMERO_MATRICULA
      ,EI.[EMP_NOME] AS NOME
      ,EI.[EMP_INDICADOR_SEXO] AS SEXO
      ,EI.[CAR_SIGLA] + ' - ' + [CAR_NOME] AS CARGO
      ,EI.[OCC_DESCRICAO] AS OCUPACAO
      ,EI.[FUN_DESCRICAO] AS FUNCAO
      ,EI.[CFU_NOME] AS CATEGORIA_FUNCAO
      , NULL AS KEY_DEPENDENCIA
      --,EI.[DEP_SIGLA] + ' - ' + EI.[DEP_NOME] AS DEPENDENCIA_LOTACAO
	  ,(SELECT TOP 1 DEP_SIGLA + ' - ' + DEP_NOME FROM [IFRCORP].[dbo].DEPENDENCIAS WHERE DEP_CODIGO = EI.EMP_DEP_CODIGO_FISICO AND DEP_DATA_EXTINCAO IS NULL ORDER BY DEP_DATA_CRIACAO DESC) AS DEPENDENCIA
	  ,NULL AS KEY_UOR
      ,(SELECT TOP 1 UOR_SIGLA + ' - ' + UOR_NOME FROM [IFRCORP].[dbo].UNIDADES_ORGANIZACIONAIS WHERE UOR_DEP_CODIGO = EI.EMP_DEP_CODIGO_FISICO AND UOR_SIGLA = EI.UOR_SIGLA AND UOR_DATA_EXTINCAO IS NULL ORDER BY UOR_DATA_CRIACAO DESC) AS LOTACAO
      ,EI.[EMP_ATI_CT_CUSTOS]
      ,EI.[EMP_ENDERECO_ELETRONICO_MAIL]
	  ,TAD.TIP_AEROPORTO
  FROM [IFRCORP].[dbo].[EMPREGADOS_INFRAERO] EI
     , [IFRCORP].[dbo].[TAB_TIPO_AEROPORTO_DA] TAD
 WHERE EI.[DEP_SIGLA] LIKE 'SB%'
   AND EI.[UOR_SIGLA_FISICA] != 'CEDIDO'
   AND EI.EMP_DEP_CODIGO_FISICO = TAD.[DEP_CODIGO]


*/