USE [GCE]
GO
ALTER TABLE [dbo].[ENERGIA_ELETRICA]  WITH CHECK ADD  CONSTRAINT [FK_ENERGIA_ELETRICA_UNIDADE_CONSUMIDORA] FOREIGN KEY([SEQ_UNIDADE_CONSUMIDORA], [COD_DEPENDENCIA], [FLG_ATENDIMENTO_PRINCIPAL])
REFERENCES [dbo].[UNIDADE_CONSUMIDORA] ([SEQ_UNIDADE_CONSUMIDORA], [COD_DEPENDENCIA], [FLG_ATENDIMENTO_PRINCIPAL])
GO
ALTER TABLE [dbo].[ENERGIA_ELETRICA] CHECK CONSTRAINT [FK_ENERGIA_ELETRICA_UNIDADE_CONSUMIDORA]