SELECT	A.*, B.*
FROM	dbo.HST_VOO_OPERACAO_STATUS_BKP_PALA_MAI2009 A
,		dbo.HST_VOO_OPERACAO B
WHERE	DAY(A.DAT_INSERCAO) = 9
AND		A.SEQ_HST_VOO_OPERACAO = B.SEQ_HST_VOO_OPERACAO


SELECT	A.*
FROM	dbo.HST_VOO_OPERACAO_STATUS_BKP_PALA_MAI2009 A
WHERE	DAY(A.DAT_INSERCAO) = 9


SELECT B.SEQ_HST_VOO_OPERACAO
      ,B.NUM_VOO
      ,B.SEQ_AEROPORTO
      ,B.SEQ_CIA
      ,B.SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,B.SEQ_NATUREZA
      ,B.SEQ_SENTIDO
	  ,A.SEQ_HST_VOO_OPERACAO AS SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
--INTO	HST_VOO_OPERACAO_BKP_ORIG_DIA_02
FROM	dbo.HST_VOO_OPERACAO B
,		dbo.HST_VOO_OPERACAO_STATUS A
WHERE	B.SEQ_HST_VOO_OPERACAO = A.SEQ_HST_VOO_OPERACAO
AND		DAY(A.DAT_INSERCAO) = 2
AND		MONTH(A.DAT_INSERCAO) = 5
AND		YEAR(A.DAT_INSERCAO) = 2009



SELECT B.SEQ_HST_VOO_OPERACAO
      ,B.NUM_VOO
      ,B.SEQ_AEROPORTO
      ,B.SEQ_CIA
      ,B.SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,B.SEQ_NATUREZA
      ,B.SEQ_SENTIDO
	  ,A.SEQ_HST_VOO_OPERACAO AS SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
INTO	HST_VOO_OPERACAO_BKP_ERRO_DIA_09 
FROM	dbo.HST_VOO_OPERACAO B
,		HST_VOO_OPERACAO_STATUS_BKP_PALA_MAI2009 A
WHERE	A.SEQ_HST_VOO_OPERACAO = B.SEQ_HST_VOO_OPERACAO
AND		DAY(A.DAT_INSERCAO) = 9


SELECT A.*, B.*
FROM	HST_VOO_OPERACAO_BKP_ERRO_DIA_09 A
,		dbo.HST_VOO_OPERACAO_BKP_ORIG_DIA_02 B
WHERE	A.NUM_VOO = B.NUM_VOO
AND		A.SEQ_AEROPORTO = B.SEQ_AEROPORTO
AND		A.SEQ_CIA = B.SEQ_CIA
AND		A.SEQ_AEROPORTO_ENVIA_ARQUIVO = B.SEQ_AEROPORTO_ENVIA_ARQUIVO
AND		A.SEQ_NATUREZA = B.SEQ_NATUREZA

SELECT  DISTINCT *
--DELETE
FROM	dbo.HST_VOO_OPERACAO_BKP_ERRO_DIA_09
WHERE	SEQ_HST_VOO_OPERACAO IN (
SELECT  A.SEQ_HST_VOO_OPERACAO
FROM	HST_VOO_OPERACAO_BKP_ERRO_DIA_09 A
,		dbo.HST_VOO_OPERACAO_BKP_ORIG_DIA_02 B
WHERE	A.NUM_VOO = B.NUM_VOO
AND		A.SEQ_AEROPORTO = B.SEQ_AEROPORTO
AND		A.SEQ_CIA = B.SEQ_CIA
AND		A.SEQ_AEROPORTO_ENVIA_ARQUIVO = B.SEQ_AEROPORTO_ENVIA_ARQUIVO
AND		A.SEQ_NATUREZA = B.SEQ_NATUREZA)


SELECT  DISTINCT *
--DELETE
FROM	dbo.HST_VOO_OPERACAO
WHERE	SEQ_HST_VOO_OPERACAO IN (
SELECT  A.SEQ_HST_VOO_OPERACAO
FROM	HST_VOO_OPERACAO_BKP_ERRO_DIA_09 A)



SELECT SEQ_HST_VOO_OPERACAO
      ,NUM_VOO
      ,SEQ_AEROPORTO
      ,SEQ_CIA
      ,SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,SEQ_NATUREZA
      ,SEQ_SENTIDO
      ,SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
FROM	IFRSIVNET.dbo.HST_VOO_OPERACAO_BKP_ERRO_DIA_09
WHERE	NUM_VOO = '06194'


SELECT SEQ_HST_VOO_OPERACAO
      ,NUM_VOO
      ,SEQ_AEROPORTO
      ,SEQ_CIA
      ,SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,SEQ_NATUREZA
      ,SEQ_SENTIDO
      ,SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
FROM	IFRSIVNET.dbo.HST_VOO_OPERACAO_BKP_ORIG_DIA_02
WHERE	NUM_VOO = '06194'




--*************************************************************************
--SCRIPT DE CORREÇÃO DOS DADOS DO HST VOOS DE 09/05 À 12/05
--*************************************************************************
SELECT B.SEQ_HST_VOO_OPERACAO
      ,B.NUM_VOO
      ,B.SEQ_AEROPORTO
      ,B.SEQ_CIA
      ,B.SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,B.SEQ_NATUREZA
      ,B.SEQ_SENTIDO
	  ,A.SEQ_HST_VOO_OPERACAO AS SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
INTO	HST_VOO_OPERACAO_BKP_ORIG_DIA_05
FROM	dbo.HST_VOO_OPERACAO B
,		dbo.HST_VOO_OPERACAO_STATUS A
WHERE	B.SEQ_HST_VOO_OPERACAO = A.SEQ_HST_VOO_OPERACAO
AND		DAY(A.DAT_INSERCAO) = 5
AND		MONTH(A.DAT_INSERCAO) = 5
AND		YEAR(A.DAT_INSERCAO) = 2009



SELECT B.SEQ_HST_VOO_OPERACAO
      ,B.NUM_VOO
      ,B.SEQ_AEROPORTO
      ,B.SEQ_CIA
      ,B.SEQ_AEROPORTO_ENVIA_ARQUIVO
      ,B.SEQ_NATUREZA
      ,B.SEQ_SENTIDO
	  ,A.SEQ_HST_VOO_OPERACAO AS SEQ_HST_VOO_OPERACAO_ERRO
      ,DAT_INSERCAO
      ,DAT_PREV
      ,DAT_CONF
      ,SEQ_STATUS
      ,TXT_OBS
      ,TIP_VOO_OPERACAO
      ,DSC_HORARIO_SAIDA_CALCO
      ,DSC_HORARIO_POUSO_DECOLAGEM
INTO	HST_VOO_OPERACAO_BKP_ERRO_DIA_12 
FROM	dbo.HST_VOO_OPERACAO B
,		HST_VOO_OPERACAO_STATUS_BKP_PALA_MAI2009 A
WHERE	A.SEQ_HST_VOO_OPERACAO = B.SEQ_HST_VOO_OPERACAO
AND		DAY(A.DAT_INSERCAO) = 12


INSERT INTO HST_VOO_OPERACAO_STATUS
SELECT  DISTINCT A.SEQ_HST_VOO_OPERACAO_ERRO
      ,A.DAT_INSERCAO
      ,A.DAT_PREV
      ,A.DAT_CONF
      ,A.SEQ_STATUS
      ,A.TXT_OBS
      ,A.TIP_VOO_OPERACAO
      ,A.DSC_HORARIO_SAIDA_CALCO
      ,A.DSC_HORARIO_POUSO_DECOLAGEM
FROM	IFRSIVNET.dbo.HST_VOO_OPERACAO_BKP_ERRO_DIA_12 A
,		IFRSIVNET.dbo.HST_VOO_OPERACAO_BKP_ORIG_DIA_05 B
WHERE	A.NUM_VOO = B.NUM_VOO
AND		A.SEQ_AEROPORTO = B.SEQ_AEROPORTO
AND		A.SEQ_CIA = B.SEQ_CIA
AND		A.SEQ_AEROPORTO_ENVIA_ARQUIVO = B.SEQ_AEROPORTO_ENVIA_ARQUIVO
AND		A.SEQ_NATUREZA = B.SEQ_NATUREZA
AND		A.SEQ_SENTIDO = B.SEQ_SENTIDO