SELECT *
FROM (
SELECT 
       (SELECT [COD_ICAO] FROM [IFRSIVNET].[dbo].[TAB_AEROPORTO] WHERE SEQ_AEROPORTO = O.[SEQ_AEROPORTO]) AEROPORTO
      ,(SELECT NOM_CIA FROM [IFRSIVNET].[dbo].[TAB_CIA_AEREA] WHERE SEQ_CIA = O.[SEQ_CIA]) CIA_AEREA
      ,CASE O.[SEQ_SENTIDO]
        WHEN 1 THEN 'CHEGADA'
        WHEN 2 THEN 'PARTIDA'
      END SENTIDO
      ,S.[DAT_PREV]
      ,S.[DAT_CONF]
      ,CASE S.[SEQ_STATUS]
        WHEN 4 THEN 'PREVISTO'
        WHEN 8 THEN 'CANCELADO'
       END STATUS
      ,S.[DAT_CANCELAMENTO]
  FROM [IFRSIVNET].[dbo].[HST_VOO_OPERACAO] O
     , [IFRSIVNET].[dbo].[HST_VOO_OPERACAO_STATUS] S
 WHERE O.SEQ_HST_VOO_OPERACAO = S.SEQ_HST_VOO_OPERACAO
   AND S.DAT_CONF BETWEEN '20130201' AND '20130228'
   AND S.[SEQ_STATUS] IN (4, 8)
) TMP
