USE [GEACufcx]
GO
ALTER INDEX [FK_apprvl_level] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [FK_gestor] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [PK_conf_sol_pag_head_appvl_trk_u] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [conf_sol_pag_hea_appvl_trk_u_ndx1] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = ON )
GO

USE [DBSwact]
GO
ALTER INDEX [message_queue_1_ak1_ix] ON [dbo].[message_queue_1] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = OFF )
GO
ALTER INDEX [message_queue_1_ak2_ix] ON [dbo].[message_queue_1] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = OFF )
GO
ALTER INDEX [message_queue_1_ak3_ix] ON [dbo].[message_queue_1] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = OFF )
GO
ALTER INDEX [message_queue_1_ak4_ix] ON [dbo].[message_queue_1] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = OFF )
GO
ALTER INDEX [message_queue_1_pk_ix] ON [dbo].[message_queue_1] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = OFF )
GO


ALTER INDEX [message_queue_seq_nbr] ON [dbo].[message_queue_seq_nbr] REBUILD WITH ( PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, SORT_IN_TEMPDB = OFF, ONLINE = ON )
GO






USE [GEACufcx]
GO
ALTER INDEX [FK_apprvl_level] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [FK_gestor] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [PK_conf_sol_pag_head_appvl_trk_u] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [conf_sol_pag_hea_appvl_trk_u_ndx1] ON [dbo].[conf_sol_pag_hea_appvl_trk_u] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO

USE [DBSwact]
GO
ALTER INDEX [message_queue_1_ak1_ix] ON [dbo].[message_queue_1] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [message_queue_1_ak2_ix] ON [dbo].[message_queue_1] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [message_queue_1_ak3_ix] ON [dbo].[message_queue_1] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [message_queue_1_ak4_ix] ON [dbo].[message_queue_1] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO
ALTER INDEX [message_queue_1_pk_ix] ON [dbo].[message_queue_1] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO


ALTER INDEX [message_queue_seq_nbr] ON [dbo].[message_queue_seq_nbr] REORGANIZE WITH ( LOB_COMPACTION = ON )
GO


--***************************************************************************************************************************
http://sqlblog.com/blogs/kevin_kline/archive/2009/04/07/looking-for-good-dmv-database-admin-queries.aspx


http://weblogs.sqlteam.com/mladenp/archive/2006/09/21/12378.aspx


http://www.sqlmag.com/Articles/Index.cfm?ArticleID=97479&DisplayTab=Article


http://sqlserverpedia.com/blog/sql-server-bloggers/index-clean-up-scripts/


http://technet.microsoft.com/en-us/magazine/2007.10.sqlcpu.aspx

http://hassanszone.wordpress.com/2009/03/04/tracking-sqlserver-waits/

--***************************************************************************************************************************





USE [DBSwact]
GO
/****** Object:  Index [message_queue_seq_nbr]    Script Date: 08/21/2009 15:42:11 ******/
CREATE UNIQUE CLUSTERED INDEX [message_queue_seq_nbr] ON [dbo].[message_queue_seq_nbr] 
(
	[one] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 50) ON [PRIMARY]


USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_ACR_RET_U]    Script Date: 08/24/2009 10:03:58 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_ACR_RET_U] ON [dbo].[TEMP_CONF_SOL_PAG_ACR_RET_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC,
	[SEQ_RED_ACRES] ASC,
	[CODIGO_RED_ACRES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [PK_tmp_conf_sol_pag_head_u]    Script Date: 08/24/2009 10:04:16 ******/
CREATE CLUSTERED INDEX [PK_tmp_conf_sol_pag_head_u] ON [dbo].[TEMP_CONF_SOL_PAG_HEAD_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_HEAD_U]    Script Date: 08/24/2009 10:04:24 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_HEAD_U] ON [dbo].[TEMP_CONF_SOL_PAG_HEAD_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]


USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_OUTROS_U]    Script Date: 08/24/2009 10:04:40 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_OUTROS_U] ON [dbo].[TEMP_CONF_SOL_PAG_OUTROS_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_RATEIO_ORCAM_U]    Script Date: 08/24/2009 10:04:54 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_RATEIO_ORCAM_U] ON [dbo].[TEMP_CONF_SOL_PAG_RATEIO_ORCAM_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC,
	[SEQ_ITEM] ASC,
	[CODIGO_RESUMO_VALOR] ASC,
	[TIPO_CRONOGRAMA] ASC,
	[NUMERO_PARCELA] ASC,
	[JRNL_LINE_NBR_CHAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_RATEIO_U]    Script Date: 08/24/2009 10:05:13 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_RATEIO_U] ON [dbo].[TEMP_CONF_SOL_PAG_RATEIO_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC,
	[SEQ_ITEM] ASC,
	[CODIGO_RESUMO_VALOR] ASC,
	[TIPO_CRONOGRAMA] ASC,
	[NUMERO_PARCELA] ASC,
	[JRNL_LINE_NBR_CHAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONF_SOL_PAG_RA_RATEIO_U]    Script Date: 08/24/2009 10:05:26 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONF_SOL_PAG_RA_RATEIO_U] ON [dbo].[TEMP_CONF_SOL_PAG_RA_RATEIO_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC,
	[SEQ_RED_ACRES] ASC,
	[JRNL_LINE_NBR_CHAR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [PTEMP_CONF_SOL_PAG_VAL_U]    Script Date: 08/24/2009 10:05:40 ******/
CREATE NONCLUSTERED INDEX [PTEMP_CONF_SOL_PAG_VAL_U] ON [dbo].[TEMP_CONF_SOL_PAG_VAL_U] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC,
	[VENDOR_ID] ASC,
	[VENDOR_LOC_CODE] ASC,
	[PMT_RQST_NBR] ASC,
	[PMT_RQST_DATE] ASC,
	[SCHLD_PMT_NBR] ASC,
	[SEQ_ITEM] ASC,
	[CODIGO_RESUMO_VALOR] ASC,
	[TIPO_CRONOGRAMA] ASC,
	[NUMERO_PARCELA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

USE [GEACufcx]
GO
/****** Object:  Index [P_TEMP_CONTRATOS]    Script Date: 08/24/2009 10:06:01 ******/
CREATE NONCLUSTERED INDEX [P_TEMP_CONTRATOS] ON [dbo].[TEMP_CONTRATOS] 
(
	[PAYABLE_ENTITY_ID] ASC,
	[CONTRACT_ID] ASC,
	[CONTRACT_VERSAO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]


USE [GEACufcx]
GO
/****** Object:  Index [index_alterno_idx]    Script Date: 08/24/2009 10:06:14 ******/
CREATE CLUSTERED INDEX [index_alterno_idx] ON [dbo].[TEMP_CONTRATOS] 
(
	[CONTRACT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]





--****************************************************************************************************************
--NOVOS INDICES
CREATE INDEX missing_index_491 ON [DBSwact].[dbo].[message_queue_values] ([col_id], [col_val]) INCLUDE ([seq_nbr]) 
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 70) ON [PRIMARY]

CREATE INDEX missing_index_1377 ON [DBSwact].[dbo].[message_queue_1] ([owner_id], [owner_type], [msg_status]) INCLUDE ([from_user_id])	
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 70) ON [PRIMARY]

CREATE INDEX missing_index_1379 ON [DBSwact].[dbo].[message_queue_1] ([owner_id], [owner_type], [from_user_id], [msg_status])	
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 70) ON [PRIMARY]

CREATE INDEX missing_index_7 ON [DBSwact].[dbo].[activity_master_1] ([exec_name], [activity_type])
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 70) ON [PRIMARY]
