--INSERT INTO [IEOP].[dbo].[IEOP_DESEMBARQUE]
SELECT *--COUNT(1)
--DELETE
  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE_HIST]
 WHERE YEAR(DTH_EFETIVA_POUSO) = 2012
 
 --INSERT INTO [IEOP].[dbo].[IEOP_EMBARQUE]
SELECT *--COUNT(1)
--DELETE
  FROM [IEOP].[dbo].[IEOP_EMBARQUE_HIST]
 WHERE YEAR(DTH_EFETIVA_DECOLAGEM) = 2012
 
--INSERT INTO [IEOP].[dbo].[IEOP_MOVIMENTACAO]
SELECT	*--COUNT(1)
---DELETE
  FROM	[IEOP].[dbo].[IEOP_MOVIMENTACAO_HIST]
 WHERE  COD_STATUS IN (
						SELECT DISTINCT COD_STATUS
						  FROM IEOP.dbo.IEOP_DESEMBARQUE
						UNION ALL
						SELECT DISTINCT COD_STATUS
						  FROM IEOP.dbo.IEOP_EMBARQUE )
   AND   YEAR(DTH_MOVIMENTO) IN (2011, 2012)