/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
       [SIG_AEROPORTO]
      ,[NUM_VOO]
      ,[DTH_NORMAL_POUSO]
      ,[DTH_EFETIVA_POUSO]
      ,[COD_CIA_AEREA]
      ,[SIG_CIA_AEREA_IATA]
      ,[NME_CIA_AEREA]
      ,[QTD_PAX_DESEMB_DOM] AS QTD_PAX_DESTINO_DOMESTICO
      ,[QTD_PAX_DESEMB_INT] AS QTD_PAX_DESTINO_INTERNACIONAL
      ,[QTD_CON_TRANSITO_DOM] AS QTD_PAX_CONEXAO_DOMESTICO
      ,[QTD_CON_TRANSITO_INT] AS QTD_PAX_CONEXAO_INTERNACIONAL
      ,[QTD_BAG_DESEMB_DOM] AS PES_BAGAGEM_DOMESTICA
      ,[QTD_BAG_DESEMB_INT] AS PES_BAGAGEM_INTERNACIONAL
      ,[QTD_BAG_TRANSITO_DOM] AS PES_BAGAGEM_TRANS_DOMESTICO
      ,[QTD_BAG_TRANSITO_INT] AS PES_BAGAGEM_TRANS_INTERN
      ,[QTD_CAR_DESEMB_DOM] AS PES_CARGA_DOMESTICA
      ,[QTD_CAR_DESEMB_INT] AS PES_CARGA_INTERNACIONAL
      ,[QTD_CAR_TRANSITO_DOM] AS PES_CARGA_TRANS_DOMESTICO
      ,[QTD_CAR_TRANSITO_INT] AS PES_CARGA_TRANS_INTERNACIONAL
      ,[QTD_COR_DESEMB_DOM] AS PES_CORREIO_DOMESTICO
      ,[QTD_COR_DESEMB_INT] AS PES_CORREIO_INTERNACIONAL      
      ,[QTD_COR_TRANSITO_DOM] AS PES_CORREIO_TRANS_DOMESTICO
      ,[QTD_COR_TRANSITO_INT] AS PES_CORREIO_TRANS_INTERNACIONAL
  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE]
 WHERE NUM_GRUPO_VOO_DESEMB = 1
   AND SIG_AEROPORTO = 'SBRF' 
   AND DTH_NORMAL_POUSO BETWEEN '20130729' AND '20130730'
   AND SIG_CIA_AEREA_IATA = 'TAM'
   --AND NUM_VOO = 3845
  
 /*  
--***************************************************************************************

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
       [COD_AEROPORTO]
      ,[DTH_VOO]
      ,[NOM_EMPRESA]
      ,[NUM_VOO]
      ,[QTD_PAX_DESTINO_DOMESTICO]
      ,[QTD_PAX_DESTINO_INTERNACIONAL]
      ,[QTD_PAX_CONEXAO_DOMESTICO]
      ,[QTD_PAX_CONEXAO_INTERNACIONAL]
      ,[PES_BAGAGEM_DOMESTICA]
      ,[PES_BAGAGEM_INTERNACIONAL]
      ,[PES_BAGAGEM_TRANS_DOMESTICO]
      ,[PES_BAGAGEM_TRANS_INTERN]
      ,[PES_CARGA_DOMESTICA]
      ,[PES_CARGA_INTERNACIONAL]
      ,[PES_CARGA_TRANS_DOMESTICO]
      ,[PES_CARGA_TRANS_INTERNACIONAL]
      ,[PES_CORREIO_DOMESTICO]
      ,[PES_CORREIO_INTERNACIONAL]
      ,[PES_CORREIO_TRANS_DOMESTICO]
      ,[PES_CORREIO_TRANS_INTERNACIONAL]
  FROM [IFRRPEWEB].[dbo].[CAD_RPE_DESEMBARQUE]
 WHERE DTH_VOO BETWEEN '20130407' AND '20130408'
   AND NOM_EMPRESA = 'TAM'
   AND NUM_VOO = 3845
   

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
       [SIG_AEROPORTO]
      ,[NUM_VOO]
      ,[DTH_NORMAL_POUSO]
      ,[DTH_EFETIVA_POUSO]
      ,[COD_CIA_AEREA]
      ,[SIG_CIA_AEREA_IATA]
      ,[NME_CIA_AEREA]
      ,[QTD_PAX_DESEMB_DOM] AS QTD_PAX_DESTINO_DOMESTICO
      ,[QTD_PAX_DESEMB_INT] AS QTD_PAX_DESTINO_INTERNACIONAL
      ,[QTD_CON_TRANSITO_DOM] AS QTD_PAX_CONEXAO_DOMESTICO
      ,[QTD_CON_TRANSITO_INT] AS QTD_PAX_CONEXAO_INTERNACIONAL
      ,[QTD_BAG_DESEMB_DOM] AS PES_BAGAGEM_DOMESTICA
      ,[QTD_BAG_DESEMB_INT] AS PES_BAGAGEM_INTERNACIONAL
      ,[QTD_BAG_TRANSITO_DOM] AS PES_BAGAGEM_TRANS_DOMESTICO
      ,[QTD_BAG_TRANSITO_INT] AS PES_BAGAGEM_TRANS_INTERN
      ,[QTD_CAR_DESEMB_DOM] AS PES_CARGA_DOMESTICA
      ,[QTD_CAR_DESEMB_INT] AS PES_CARGA_INTERNACIONAL
      ,[QTD_CAR_TRANSITO_DOM] AS PES_CARGA_TRANS_DOMESTICO
      ,[QTD_CAR_TRANSITO_INT] AS PES_CARGA_TRANS_INTERNACIONAL
      ,[QTD_COR_DESEMB_DOM] AS PES_CORREIO_DOMESTICO
      ,[QTD_COR_DESEMB_INT] AS PES_CORREIO_INTERNACIONAL      
      ,[QTD_COR_TRANSITO_DOM] AS PES_CORREIO_TRANS_DOMESTICO
      ,[QTD_COR_TRANSITO_INT] AS PES_CORREIO_TRANS_INTERNACIONAL
  FROM [IEOP].[dbo].[IEOP_DESEMBARQUE]
WHERE NUM_GRUPO_VOO_DESEMB = 1


*/