USE [IFRRPEWEB]
GO

/****** Object:  Trigger [dbo].[TRC_UPD_CAD_RPE_EMBARQUE]    Script Date: 04/02/2014 14:21:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[TRC_UPD_CAD_RPE_EMBARQUE] 
   ON  [dbo].[CAD_RPE_EMBARQUE] 
   AFTER INSERT, UPDATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE	@COD_AEROPORTO INT
		  ,	@SGL_AEROPORTO VARCHAR(10)
		  ,	@DTH_VOO DATETIME
		  ,	@NOM_EMPRESA VARCHAR(30)
		  ,	@NUM_VOO INT
		  ,	@QTD_TARIFA_DOMESTICA_FATURADA INT
		  ,	@QTD_TARIFA_INTERN_FATURADA INT
		  ,	@QTD_TARIFA_DOMESTICA_A_VISTA INT
		  ,	@QTD_TARIFA_INTERNACIONAL_A_VISTA INT
		  ,	@QTD_PAX_ISENTO_COLO INT
		  ,	@QTD_PAX_ISENTO_TRANS_A_BORDO INT
		  ,	@QTD_PAX_ISENTO_CONEX_DOMESTICO INT
		  ,	@QTD_PAX_ISENTO_CONEX_INTERN INT
		  ,	@QTD_PAX_ISENTO_OUTROS INT
		  ,	@PES_BAGAGEM_DOMESTICA INT
		  ,	@PES_BAGAGEM_INTERNACIONAL INT
		  ,	@PES_CARGA_DOMESTICA INT
		  ,	@PES_CARGA_INTERNACIONAL INT
		  ,	@PES_CORREIO_DOMESTICO INT
		  ,	@PES_CORREIO_INTERNACIONAL INT

	SELECT	@COD_AEROPORTO = UPD.[COD_AEROPORTO]
		  ,	@SGL_AEROPORTO = (SELECT DEP_SIGLA FROM IFRCORP..DEPENDENCIAS WHERE DEP_CODIGO = UPD.[COD_AEROPORTO]) 
		  ,	@DTH_VOO = UPD.[DTH_VOO]
		  ,	@NOM_EMPRESA = UPD.[NOM_EMPRESA]
		  ,	@NUM_VOO = UPD.[NUM_VOO]
		  , @QTD_TARIFA_DOMESTICA_FATURADA       = UPD.QTD_TARIFA_DOMESTICA_FATURADA   
		  , @QTD_TARIFA_INTERN_FATURADA          = UPD.QTD_TARIFA_INTERN_FATURADA      
		  , @QTD_TARIFA_DOMESTICA_A_VISTA        = UPD.QTD_TARIFA_DOMESTICA_A_VISTA    
		  , @QTD_TARIFA_INTERNACIONAL_A_VISTA    = UPD.QTD_TARIFA_INTERNACIONAL_A_VISTA
		  , @QTD_PAX_ISENTO_COLO                 = UPD.QTD_PAX_ISENTO_COLO             
		  , @QTD_PAX_ISENTO_TRANS_A_BORDO        = UPD.QTD_PAX_ISENTO_TRANS_A_BORDO    
		  , @QTD_PAX_ISENTO_CONEX_DOMESTICO      = UPD.QTD_PAX_ISENTO_CONEX_DOMESTICO  
		  , @QTD_PAX_ISENTO_CONEX_INTERN         = UPD.QTD_PAX_ISENTO_CONEX_INTERN     
		  , @QTD_PAX_ISENTO_OUTROS               = UPD.QTD_PAX_ISENTO_OUTROS           
		  , @PES_BAGAGEM_DOMESTICA               = UPD.PES_BAGAGEM_DOMESTICA           
		  , @PES_BAGAGEM_INTERNACIONAL           = UPD.PES_BAGAGEM_INTERNACIONAL       
		  , @PES_CARGA_DOMESTICA                 = UPD.PES_CARGA_DOMESTICA             
		  , @PES_CARGA_INTERNACIONAL             = UPD.PES_CARGA_INTERNACIONAL         
		  , @PES_CORREIO_DOMESTICO               = UPD.PES_CORREIO_DOMESTICO           
		  , @PES_CORREIO_INTERNACIONAL           = UPD.PES_CORREIO_INTERNACIONAL  
	  FROM	INSERTED  UPD

	UPDATE	[IEOP].[dbo].[IEOP_EMBARQUE]
		SET	[QTD_TARIFA_PAGA_BILHETE_DOM_EMB]   = @QTD_TARIFA_DOMESTICA_FATURADA   
		  ,	[QTD_TARIFA_PAGA_BILHETE_INT_EMB]   = @QTD_TARIFA_INTERN_FATURADA      
		  ,	[QTD_TARIFA_PAGA_CHECKIN_DOM_EMB] = @QTD_TARIFA_DOMESTICA_A_VISTA    
		  ,	[QTD_TARIFA_PAGA_CHECKIN_INT_EMB] = @QTD_TARIFA_INTERNACIONAL_A_VISTA
		  ,	[QTD_ISENTA_COLO_EMB]   = @QTD_PAX_ISENTO_COLO             
		  ,	[QTD_ISENTA_TRANSITO_EMB]   = @QTD_PAX_ISENTO_TRANS_A_BORDO    
		  ,	[QTD_ISENTA_CONEXAO_EMB_DOM] = @QTD_PAX_ISENTO_CONEX_DOMESTICO  
		  ,	[QTD_ISENTA_CONEXAO_EMB_INT] = @QTD_PAX_ISENTO_CONEX_INTERN     
		  ,	[QTD_ISENTA_OUTRAS_EMB]   = @QTD_PAX_ISENTO_OUTROS           
		  ,	[QTD_BAG_EMB_DOM]   = @PES_BAGAGEM_DOMESTICA           
		  ,	[QTD_BAG_EMB_INT] = @PES_BAGAGEM_INTERNACIONAL       
		  ,	[QTD_CAR_EMB_DOM] = @PES_CARGA_DOMESTICA             
		  ,	[QTD_CAR_EMB_INT]   = @PES_CARGA_INTERNACIONAL         
		  ,	[QTD_COR_EMB_DOM]   = @PES_CORREIO_DOMESTICO           
		  ,	[QTD_COR_EMB_INT] = @PES_CORREIO_INTERNACIONAL 
		  , [FLG_MIGRADO] = 6
	 WHERE	NUM_GRUPO_VOO_EMB = 1
	   AND	SIG_AEROPORTO = @SGL_AEROPORTO 
	   AND	DTH_NORMAL_DECOLAGEM = @DTH_VOO
	   AND	SIG_CIA_AEREA_IATA = @NOM_EMPRESA
	   AND	NUM_VOO = @NUM_VOO
END

GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[TRC_UPD_CAD_RPE_DESEMBARQUE] 
   ON  [dbo].[CAD_RPE_DESEMBARQUE] 
   AFTER INSERT, UPDATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE	@COD_AEROPORTO INT
		  ,	@SGL_AEROPORTO VARCHAR(10)
		  ,	@DTH_VOO DATETIME
		  ,	@NOM_EMPRESA VARCHAR(30)
		  ,	@NUM_VOO INT
		  ,	@QTD_PAX_DESTINO_DOMESTICO INT
		  ,	@QTD_PAX_DESTINO_INTERNACIONAL INT
		  ,	@QTD_PAX_CONEXAO_DOMESTICO INT
		  ,	@QTD_PAX_CONEXAO_INTERNACIONAL INT
		  ,	@PES_BAGAGEM_DOMESTICA INT
		  ,	@PES_BAGAGEM_INTERNACIONAL INT
		  ,	@PES_BAGAGEM_TRANS_DOMESTICO INT
		  ,	@PES_BAGAGEM_TRANS_INTERN INT
		  ,	@PES_CARGA_DOMESTICA INT
		  ,	@PES_CARGA_INTERNACIONAL INT
		  ,	@PES_CARGA_TRANS_DOMESTICO INT
		  ,	@PES_CARGA_TRANS_INTERNACIONAL INT
		  ,	@PES_CORREIO_DOMESTICO INT
		  ,	@PES_CORREIO_INTERNACIONAL INT
		  ,	@PES_CORREIO_TRANS_DOMESTICO INT
		  ,	@PES_CORREIO_TRANS_INTERNACIONAL INT

	SELECT	@COD_AEROPORTO = UPD.[COD_AEROPORTO]
		  ,	@SGL_AEROPORTO = (SELECT DEP_SIGLA FROM IFRCORP..DEPENDENCIAS WHERE DEP_CODIGO = UPD.[COD_AEROPORTO]) 
		  ,	@DTH_VOO = UPD.[DTH_VOO]
		  ,	@NOM_EMPRESA = UPD.[NOM_EMPRESA]
		  ,	@NUM_VOO = UPD.[NUM_VOO]
		  ,	@QTD_PAX_DESTINO_DOMESTICO = UPD.[QTD_PAX_DESTINO_DOMESTICO]
		  ,	@QTD_PAX_DESTINO_INTERNACIONAL = UPD.[QTD_PAX_DESTINO_INTERNACIONAL]
		  ,	@QTD_PAX_CONEXAO_DOMESTICO = UPD.[QTD_PAX_CONEXAO_DOMESTICO]
		  ,	@QTD_PAX_CONEXAO_INTERNACIONAL = UPD.[QTD_PAX_CONEXAO_INTERNACIONAL]
		  ,	@PES_BAGAGEM_DOMESTICA = UPD.[PES_BAGAGEM_DOMESTICA]
		  ,	@PES_BAGAGEM_INTERNACIONAL = UPD.[PES_BAGAGEM_INTERNACIONAL]
		  ,	@PES_BAGAGEM_TRANS_DOMESTICO = UPD.[PES_BAGAGEM_TRANS_DOMESTICO]
		  ,	@PES_BAGAGEM_TRANS_INTERN = UPD.[PES_BAGAGEM_TRANS_INTERN]
		  ,	@PES_CARGA_DOMESTICA = UPD.[PES_CARGA_DOMESTICA]
		  ,	@PES_CARGA_INTERNACIONAL = UPD.[PES_CARGA_INTERNACIONAL]
		  ,	@PES_CARGA_TRANS_DOMESTICO = UPD.[PES_CARGA_TRANS_DOMESTICO]
		  ,	@PES_CARGA_TRANS_INTERNACIONAL = UPD.[PES_CARGA_TRANS_INTERNACIONAL]
		  ,	@PES_CORREIO_DOMESTICO = UPD.[PES_CORREIO_DOMESTICO]
		  ,	@PES_CORREIO_INTERNACIONAL = UPD.[PES_CORREIO_INTERNACIONAL]
		  ,	@PES_CORREIO_TRANS_DOMESTICO = UPD.[PES_CORREIO_TRANS_DOMESTICO]
		  ,	@PES_CORREIO_TRANS_INTERNACIONAL = UPD.[PES_CORREIO_TRANS_INTERNACIONAL]
	  FROM	INSERTED  UPD

	UPDATE	[IEOP].[dbo].[IEOP_DESEMBARQUE]
	   SET	[QTD_PAX_DESEMB_DOM] = @QTD_PAX_DESTINO_DOMESTICO
		  ,	[QTD_PAX_DESEMB_INT] = @QTD_PAX_DESTINO_INTERNACIONAL
		  ,	[QTD_CON_TRANSITO_DOM] = @QTD_PAX_CONEXAO_DOMESTICO
		  ,	[QTD_CON_TRANSITO_INT] = @QTD_PAX_CONEXAO_INTERNACIONAL
		  ,	[QTD_BAG_DESEMB_DOM] = @PES_BAGAGEM_DOMESTICA
		  ,	[QTD_BAG_DESEMB_INT] = @PES_BAGAGEM_INTERNACIONAL
		  ,	[QTD_BAG_TRANSITO_DOM] = @PES_BAGAGEM_TRANS_DOMESTICO
		  ,	[QTD_BAG_TRANSITO_INT] = @PES_BAGAGEM_TRANS_INTERN
		  ,	[QTD_CAR_DESEMB_DOM] = @PES_CARGA_DOMESTICA
		  ,	[QTD_CAR_DESEMB_INT] = @PES_CARGA_INTERNACIONAL
		  ,	[QTD_CAR_TRANSITO_DOM] = @PES_CARGA_TRANS_DOMESTICO
		  ,	[QTD_CAR_TRANSITO_INT] = @PES_CARGA_TRANS_INTERNACIONAL
		  ,	[QTD_COR_DESEMB_DOM] = @PES_CORREIO_DOMESTICO
		  ,	[QTD_COR_DESEMB_INT] = @PES_CORREIO_INTERNACIONAL      
		  ,	[QTD_COR_TRANSITO_DOM] = @PES_CORREIO_TRANS_DOMESTICO
		  ,	[QTD_COR_TRANSITO_INT] = @PES_CORREIO_TRANS_INTERNACIONAL
		  , [FLG_MIGRADO] = 6
	 WHERE	NUM_GRUPO_VOO_DESEMB = 1
	   AND	SIG_AEROPORTO = @SGL_AEROPORTO 
	   AND	DTH_NORMAL_POUSO = @DTH_VOO
	   AND	SIG_CIA_AEREA_IATA = @NOM_EMPRESA
	   AND	NUM_VOO = @NUM_VOO
END
