USE [BIOGER]
GO
/****** Object:  Table [dbo].[BIOGER_RPE_DES]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIOGER_RPE_DES](
	[SIGLA_AEROPORTO] [varchar](4) NULL,
	[NUMERO_VOO] [varchar](10) NULL,
	[DATA_HORA_NORMAL_POUSO] [datetime] NULL,
	[DATA_HORA_EFETIVA_POUSO] [datetime] NULL,
	[CD_COM] [int] NULL,
	[SIGLA_IATA_CIA_AEREA] [varchar](3) NULL,
	[MATRICULA_AERONAVE] [varchar](10) NULL,
	[GRUPO_VOO] [int] NULL,
	[NATUREZA_VOO] [varchar](1) NULL,
	[CLASSE_VOO] [varchar](1) NULL,
	[CATEGORIA_VOO] [varchar](2) NULL,
	[CATEGORIA_VOO_VINCULADO] [varchar](2) NULL,
	[SIGLA_EQUIPAMENTO] [varchar](10) NULL,
	[DESEMB_PASSAGEIRO_DOM] [int] NULL,
	[DESEMB_PASSAGEIRO_INT] [int] NULL,
	[DESEMB_BAGAGEM_DOM] [int] NULL,
	[DESEMB_BAGAGEM_INT] [int] NULL,
	[DESEMB_CARGA_DOM] [int] NULL,
	[DESEMB_CARGA_INT] [int] NULL,
	[DESEMB_CORREIO_DOM] [int] NULL,
	[DESEMB_CORREIO_INT] [int] NULL,
	[TRANSITO_BAGAGEM_DOM] [int] NULL,
	[TRANSITO_BAGAGEM_INT] [int] NULL,
	[TRANSITO_CARGA_DOM] [int] NULL,
	[TRANSITO_CARGA_INT] [int] NULL,
	[TRANSITO_CORREIO_DOM] [int] NULL,
	[TRANSITO_CORREIO_INT] [int] NULL,
	[TRANSITO_CONEXAO_DOM] [int] NULL,
	[TRANSITO_CONEXAO_INT] [int] NULL,
	[COD_CHG_VOO] [varchar](10) NULL,
	[DES_VIN] [varchar](10) NULL,
	[NR_BOX] [varchar](4) NULL,
	[TP_BOX] [int] NULL,
	[SIGLA_AEROPORTO_PRO] [varchar](4) NULL,
	[FL_AEN_TAX] [tinyint] NULL,
	[FL_EQP_HLC] [tinyint] NULL,
	[CD_STA] [int] NULL,
	[NME_CIA_AEREA] [varchar](30) NULL,
	[NME_EQUIPAMENTO] [varchar](20) NULL,
	[DSC_PISTA_POU] [varchar](10) NULL,
	[DSC_PISTA_DEC] [varchar](10) NULL,
	[FLG_MIGRADO] [tinyint] NULL,
	[DTA_MIGRACAO] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BIOGER_RPE_EMB]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIOGER_RPE_EMB](
	[SIGLA_AEROPORTO] [varchar](4) NULL,
	[NUMERO_VOO] [varchar](10) NULL,
	[DATA_HORA_NORMAL_DECOLAGEM] [datetime] NULL,
	[DATA_HORA_EFETIVA_DECOLAGEM] [datetime] NULL,
	[CD_COM] [int] NULL,
	[SIGLA_IATA_CIA_AEREA] [varchar](3) NULL,
	[MATRICULA_AERONAVE] [varchar](10) NULL,
	[GRUPO_VOO] [int] NULL,
	[NATUREZA_VOO] [varchar](1) NULL,
	[CLASSE_VOO] [varchar](1) NULL,
	[CATEGORIA_VOO] [varchar](2) NULL,
	[CATEGORIA_VOO_VINCULADO] [varchar](2) NULL,
	[SIGLA_EQUIPAMENTO] [varchar](10) NULL,
	[EMB_TARIFA_PAGA_BILHETE_DOM] [int] NULL,
	[EMB_TARIFA_PAGA_BILHETE_INT] [int] NULL,
	[EMB_TARIFA_PAGA_CHECKIN_DOM] [int] NULL,
	[EMB_TARIFA_PAGA_CHECKIN_INT] [int] NULL,
	[EMB_ISENTA_COLO] [int] NULL,
	[EMB_ISENTA_TRANSITO] [int] NULL,
	[EMB_ISENTA_CONEXAO_DOM] [int] NULL,
	[EMB_ISENTA_CONEXAO_INT] [int] NULL,
	[EMB_ISENTA_OUTRAS] [int] NULL,
	[EMB_BAGAGEM_DOM] [int] NULL,
	[EMB_BAGAGEM_INT] [int] NULL,
	[EMB_CARGA_DOM] [int] NULL,
	[EMB_CARGA_INT] [int] NULL,
	[EMB_CORREIO_DOM] [int] NULL,
	[EMB_CORREIO_INT] [int] NULL,
	[EMB_TARIFA_PAG_BILHETE_DOM_ANT] [int] NULL,
	[EMB_TARIFA_PAG_BILHETE_INT_ANT] [int] NULL,
	[EMB_TARIFA_PAG_CHECKIN_DOM_ANT] [int] NULL,
	[EMB_TARIFA_PAG_CHECKIN_INT_ANT] [int] NULL,
	[COD_CHG_VOO_ANT] [varchar](10) NULL,
	[EMB_VIN] [varchar](10) NULL,
	[NR_BOX] [varchar](4) NULL,
	[TP_BOX] [int] NULL,
	[SIGLA_AEROPORTO_DES] [varchar](4) NULL,
	[FL_AEN_TAX] [tinyint] NULL,
	[FL_EQP_HLC] [tinyint] NULL,
	[CD_STA] [int] NULL,
	[NME_CIA_AEREA] [varchar](30) NULL,
	[NME_EQUIPAMENTO] [varchar](20) NULL,
	[DSC_PISTA_POU] [varchar](10) NULL,
	[DSC_PISTA_DEC] [varchar](10) NULL,
	[FLG_MIGRADO] [tinyint] NULL,
	[DTA_MIGRACAO] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BIOGER_RPE_MOV]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIOGER_RPE_MOV](
	[SIGLA_AEROPORTO] [char](4) NOT NULL,
	[CD_STA] [int] NOT NULL,
	[CD_MOV] [int] NOT NULL,
	[TIPO_MOV] [char](2) NULL,
	[DATA_HORA_MOV] [smalldatetime] NULL,
	[NR_BOX] [varchar](50) NULL,
	[TP_BOX] [tinyint] NULL,
	[NR_TPS] [char](1) NULL,
	[FLG_MIGRADO] [tinyint] NULL CONSTRAINT [DF_BIOGER_RPE_MOV_FLG_MIGRADO]  DEFAULT ((1)),
	[DTA_MIGRACAO] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAB_CATEGORIA_VOO]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAB_CATEGORIA_VOO](
	[COD_CATEGORIA_VOO] [varchar](2) NOT NULL,
	[DSC_CATEGORIA_VOO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAB_CLASSE_VOO]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAB_CLASSE_VOO](
	[COD_CLASSE_VOO] [char](1) NOT NULL,
	[DSC_CLASSE_VOO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAB_GRUPO_VOO]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAB_GRUPO_VOO](
	[COD_GRUPO_VOO] [int] NOT NULL,
	[DSC_GRUPO_VOO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAB_NATUREZA_VOO]    Script Date: 07/16/2009 08:43:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAB_NATUREZA_VOO](
	[COD_NATUREZA_VOO] [char](1) NOT NULL,
	[SIG_NATUREZA_VOO] [varchar](10) NULL,
	[DSC_NATUREZA_VOO] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF