USE [IEOP]
GO
/****** Object:  StoredProcedure [dbo].[PRC_CARGA_SBRF]    Script Date: 27/08/2013 15:01:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[PRC_CARGA_SBRF]
as

MERGE IEOP.dbo.IEOP_DESEMBARQUE AS SEDE
USING (
	select
		LTRIM(RTRIM(NEW.SIGLA_AEROPORTO)) SIGLA_AEROPORTO, LTRIM(RTRIM(NR_CHG_VOO)) NR_CHG_VOO, DH_CHG_NRM,
		DH_CHG_EFE, CD_COM, LTRIM(RTRIM(SG_COM_IAT_003)) SG_COM_IAT_003,
		LTRIM(RTRIM(NR_AEN)) NR_AEN, TP_CHG_GRU, TP_CHG_NAT, TP_CHG,
		TP_CHG_CTG, TP_CHG_CTG_VIN, LTRIM(RTRIM(SG_EQP)) SG_EQP,
		QT_DEC_DES_DOM, QT_DEC_DES_INT, QT_DEC_DES_BAG_DOM,
		QT_DEC_DES_BAG_INT, QT_DEC_DES_CAR_DOM, QT_DEC_DES_CAR_INT,
		QT_DEC_DES_COR_DOM, QT_DEC_DES_COR_INT, QT_DEC_TRA_BAG_DOM,
		QT_DEC_TRA_BAG_INT, QT_DEC_TRA_CAR_DOM, QT_DEC_TRA_CAR_INT,
		QT_DEC_TRA_COR_DOM, QT_DEC_TRA_COR_INT, QT_DEC_TRA_DOM_CX,
		QT_DEC_TRA_INT_CX, ISNULL(LTRIM(RTRIM(CD_CHG)),0) CD_CHG, LTRIM(RTRIM(CD_CHG_VIN)) CD_CHG_VIN,
		LTRIM(RTRIM(NR_BOX)) NR_BOX, LTRIM(RTRIM(TP_BOX)) TP_BOX, 
		LTRIM(RTRIM(NM_PON)) NM_PON, LTRIM(RTRIM(NR_EST)) NR_EST,
		LTRIM(RTRIM(SIGLA_AEROPORTO_PRO)) SIGLA_AEROPORTO_PRO,
		FL_AEN_TAX, FL_EQP_HLC, CD_STA,
		LTRIM(RTRIM(NOME_CIA)) NOME_CIA, LTRIM(RTRIM(NM_EQP)) NM_EQP, LTRIM(RTRIM(PIS_PO)) PIS_PO,
		LTRIM(RTRIM(PIS_DE)) PIS_DE, HR_MOV_PRI, HR_MOV_ULT,
		NEW.DTH_ATUALIZACAO, FL_STATUS, FLAG_ISE,
		FLAG_AVISTA, HR_MOV_PRI_ENT, TP_STA,
		CD_STA_ANT, CD_STA_POS
	FROM [SBRF - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_DES_NEW] NEW (nolock)
	left join IEOP.dbo.IEOP_MERGE_CONTROLE MC on(NEW.SIGLA_AEROPORTO  COLLATE Latin1_General_CI_AI = MC.SIG_AEROPORTO)
	WHERE (NEW.DTH_ATUALIZACAO >= MC.DTH_ATUALIZACAO)
) AS sd
ON			
			    ISNULL(LTRIM(RTRIM(sd.SIGLA_AEROPORTO)), 0) = ISNULL(LTRIM(RTRIM(SEDE.SIG_AEROPORTO)), 0) COLLATE Latin1_General_CI_AI
			AND ISNULL(sd.CD_STA, 0) = ISNULL(SEDE.COD_STATUS, 0)
			AND ISNULL(LTRIM(RTRIM(SD.CD_CHG)), 0) COLLATE Latin1_General_CI_AI = ISNULL(LTRIM(RTRIM(SEDE.COD_VOO_CHEGADA)), 0)
			and SEDE.flg_migrado <> 2
WHEN MATCHED THEN UPDATE SET
			SIG_AEROPORTO = sd.SIGLA_AEROPORTO, 
			NUM_VOO = sd.NR_CHG_VOO, 
			DTH_NORMAL_POUSO = sd.DH_CHG_NRM,
			DTH_EFETIVA_POUSO = sd.DH_CHG_EFE, 
			COD_CIA_AEREA = sd.CD_COM, 
			SIG_CIA_AEREA_IATA = sd.SG_COM_IAT_003,
			COD_MATRICULA_AERONAVE = sd.NR_AEN, 
			NUM_GRUPO_VOO_DESEMB = sd.TP_CHG_GRU, 
			NUM_NATUREZA_VOO_DESEMB = sd.TP_CHG_NAT, 
			NUM_CLASSE_VOO_DESEMB = sd.TP_CHG,
			NUM_CATEGORIA_VOO_DESEMB = sd.TP_CHG_CTG, 
			NUM_CATEGORIA_VOO_DESEMB_VINCULADO = sd.TP_CHG_CTG_VIN, 
			SIG_EQUIPAMENTO = sd.SG_EQP,
			QTD_PAX_DESEMB_DOM = sd.QT_DEC_DES_DOM, 
			QTD_PAX_DESEMB_INT = sd.QT_DEC_DES_INT, 
			QTD_BAG_DESEMB_DOM = sd.QT_DEC_DES_BAG_DOM,
			QTD_BAG_DESEMB_INT = sd.QT_DEC_DES_BAG_INT, 
			QTD_CAR_DESEMB_DOM = sd.QT_DEC_DES_CAR_DOM, 
			QTD_CAR_DESEMB_INT = sd.QT_DEC_DES_CAR_INT,
			QTD_COR_DESEMB_DOM = sd.QT_DEC_DES_COR_DOM, 
			QTD_COR_DESEMB_INT = sd.QT_DEC_DES_COR_INT, 
			QTD_BAG_TRANSITO_DOM = sd.QT_DEC_TRA_BAG_DOM,
			QTD_BAG_TRANSITO_INT = sd.QT_DEC_TRA_BAG_INT, 
			QTD_CAR_TRANSITO_DOM = sd.QT_DEC_TRA_CAR_DOM, 
			QTD_CAR_TRANSITO_INT = sd.QT_DEC_TRA_CAR_INT,
			QTD_COR_TRANSITO_DOM = sd.QT_DEC_TRA_COR_DOM, 
			QTD_COR_TRANSITO_INT = sd.QT_DEC_TRA_COR_INT, 
			QTD_CON_TRANSITO_DOM = sd.QT_DEC_TRA_DOM_CX,
			QTD_CON_TRANSITO_INT = sd.QT_DEC_TRA_INT_CX, 
			COD_VOO_CHEGADA = ISNULL(sd.CD_CHG,0),
			COD_DESEMB_VINCULADO = sd.CD_CHG_VIN,
			NUM_BOX = sd.NR_BOX, 
			TIP_BOX = sd.TP_BOX, 
			NME_PONTE = sd.NM_PON,
			NUM_ESTEIRA = sd.NR_EST,
			SIG_AEROPORTO_PROCEDENCIA = sd.SIGLA_AEROPORTO_PRO,
			FLG_TAXI_AEREO = sd.FL_AEN_TAX, 
			FLG_EQUIP_HELICOP = sd.FL_EQP_HLC, 
			COD_STATUS = sd.CD_STA, 
			NME_CIA_AEREA = sd.NOME_CIA, 
			NME_EQUIPAMENTO = sd.NM_EQP, 
			DSC_PISTA_POUSO = sd.PIS_PO,
			DSC_PISTA_DECOLAGEM = sd.PIS_DE, 
			DTH_PRI_MOV = sd.HR_MOV_PRI, 
			DTH_ULT_MOV = sd.HR_MOV_ULT,
			DTH_ATUALIZACAO = sd.DTH_ATUALIZACAO, 
			FLG_STATUS = sd.FL_STATUS, 
			FLG_ISENTO = sd.FLAG_ISE,
			FLG_AVISTA = sd.FLAG_AVISTA, 
			DTH_PRI_ENT_MOV = sd.HR_MOV_PRI_ENT, 
			TIP_STATUS = sd.TP_STA,
			COD_STATUS_ANT = sd.CD_STA_ANT, 
			COD_STATUS_POS = sd.CD_STA_POS,
			QTD_ATUALIZACAO = QTD_ATUALIZACAO + 1,
			FLG_MIGRADO = 1,
			DTH_MIGRACAO = GETDATE()
WHEN NOT MATCHED THEN
	insert (SIG_AEROPORTO, NUM_VOO, DTH_NORMAL_POUSO
			,DTH_EFETIVA_POUSO, COD_CIA_AEREA, SIG_CIA_AEREA_IATA
			,COD_MATRICULA_AERONAVE, NUM_GRUPO_VOO_DESEMB, NUM_NATUREZA_VOO_DESEMB
			,NUM_CLASSE_VOO_DESEMB, NUM_CATEGORIA_VOO_DESEMB, NUM_CATEGORIA_VOO_DESEMB_VINCULADO
			,SIG_EQUIPAMENTO, QTD_PAX_DESEMB_DOM, QTD_PAX_DESEMB_INT
			,QTD_BAG_DESEMB_DOM, QTD_BAG_DESEMB_INT, QTD_CAR_DESEMB_DOM
			,QTD_CAR_DESEMB_INT, QTD_COR_DESEMB_DOM, QTD_COR_DESEMB_INT
			,QTD_BAG_TRANSITO_DOM, QTD_BAG_TRANSITO_INT, QTD_CAR_TRANSITO_DOM
			,QTD_CAR_TRANSITO_INT, QTD_COR_TRANSITO_DOM, QTD_COR_TRANSITO_INT
			,QTD_CON_TRANSITO_DOM, QTD_CON_TRANSITO_INT, COD_VOO_CHEGADA
			,COD_DESEMB_VINCULADO, NUM_BOX, TIP_BOX, NME_PONTE, NUM_ESTEIRA
			,SIG_AEROPORTO_PROCEDENCIA, FLG_TAXI_AEREO, FLG_EQUIP_HELICOP
			,COD_STATUS, NME_CIA_AEREA, NME_EQUIPAMENTO
			,DSC_PISTA_POUSO, DSC_PISTA_DECOLAGEM, DTH_PRI_MOV
			,DTH_ULT_MOV, DTH_ATUALIZACAO, FLG_STATUS
			,FLG_ISENTO, FLG_AVISTA, DTH_PRI_ENT_MOV
			,TIP_STATUS, COD_STATUS_ANT, COD_STATUS_POS
			,QTD_ATUALIZACAO, FLG_MIGRADO, DTH_MIGRACAO
		)
		values(sd.SIGLA_AEROPORTO, sd.NR_CHG_VOO, sd.DH_CHG_NRM,
			sd.DH_CHG_EFE, sd.CD_COM, sd.SG_COM_IAT_003,
			sd.NR_AEN, sd.TP_CHG_GRU, sd.TP_CHG_NAT, sd.TP_CHG,
			sd.TP_CHG_CTG, sd.TP_CHG_CTG_VIN, sd.SG_EQP,
			sd.QT_DEC_DES_DOM, sd.QT_DEC_DES_INT, sd.QT_DEC_DES_BAG_DOM,
			sd.QT_DEC_DES_BAG_INT, sd.QT_DEC_DES_CAR_DOM, sd.QT_DEC_DES_CAR_INT,
			sd.QT_DEC_DES_COR_DOM, sd.QT_DEC_DES_COR_INT, sd.QT_DEC_TRA_BAG_DOM,
			sd.QT_DEC_TRA_BAG_INT, sd.QT_DEC_TRA_CAR_DOM, sd.QT_DEC_TRA_CAR_INT,
			sd.QT_DEC_TRA_COR_DOM, sd.QT_DEC_TRA_COR_INT, sd.QT_DEC_TRA_DOM_CX,
			sd.QT_DEC_TRA_INT_CX, ISNULL(sd.CD_CHG,0), sd.CD_CHG_VIN,
			sd.NR_BOX, sd.TP_BOX, sd.NM_PON, sd.NR_EST, sd.SIGLA_AEROPORTO_PRO,
			sd.FL_AEN_TAX, sd.FL_EQP_HLC, sd.CD_STA,
			sd.NOME_CIA, sd.NM_EQP, sd.PIS_PO,
			sd.PIS_DE, sd.HR_MOV_PRI, sd.HR_MOV_ULT,
			sd.DTH_ATUALIZACAO, sd.FL_STATUS, sd.FLAG_ISE,
			sd.FLAG_AVISTA, sd.HR_MOV_PRI_ENT, sd.TP_STA,
			sd.CD_STA_ANT, sd.CD_STA_POS,0,1,GETDATE());

--REALIZA MERGE DOS DADOS DE EMBARQUE.
MERGE IEOP.dbo.IEOP_EMBARQUE AS SEDE
USING (
	select
		LTRIM(RTRIM(NEW.SIGLA_AEROPORTO)) SIGLA_AEROPORTO ,LTRIM(RTRIM(NR_PAR_VOO)) NR_PAR_VOO,DH_PAR_NRM,
		DH_PAR_EFE,CD_COM,LTRIM(RTRIM(SG_COM_IAT_003)) SG_COM_IAT_003,
		LTRIM(RTRIM(NOME_CIA)) NOME_CIA,LTRIM(RTRIM(NM_EQP)) NM_EQP,LTRIM(RTRIM(NR_AEN)) NR_AEN,
		TP_PAR_GRU,TP_PAR_NAT,TP_PAR,
		TP_PAR_CTG,TP_PAR_CTG_VIN,LTRIM(RTRIM(SG_EQP)) SG_EQP,
		QT_DEP_TFB_DOM,QT_DEP_TFB_INT,QT_DEP_TFC_DOM,
		QT_DEP_TFC_INT,QT_DEP_ISE_COL,QT_DEP_ISE_TRA,
		QT_DEP_ISE_CON_DOM,QT_DEP_ISE_CON_INT,QT_DEP_ISE_OUT,
		QT_DEP_EMB_BAG_DOM,QT_DEP_EMB_BAG_INT,QT_DEP_EMB_CAR_DOM,
		QT_DEP_EMB_CAR_INT,QT_DEP_EMB_COR_DOM,QT_DEP_EMB_COR_INT,
		QT_DEP_TFB_DOM_ANT,QT_DEP_TFB_INT_ANT,QT_DEP_TFC_DOM_ANT,
		QT_DEP_TFC_INT_ANT,LTRIM(RTRIM(CD_CHG_AEN_ANT)) CD_CHG_AEN_ANT,LTRIM(RTRIM(CD_PAR_VIN)) CD_PAR_VIN,
		LTRIM(RTRIM(NR_BOX)) NR_BOX,LTRIM(RTRIM(TP_BOX)) TP_BOX,
		LTRIM(RTRIM(NM_PON)) NM_PON,LTRIM(RTRIM(NR_POR)) NR_POR,
		LTRIM(RTRIM(SIGLA_AEROPORTO_DES)) SIGLA_AEROPORTO_DES,
		CD_STA,HR_MOV_PRI,HR_MOV_ULT,
		HR_MOV_ULT_SAI,LTRIM(RTRIM(PIS_PO)) PIS_PO,LTRIM(RTRIM(PIS_DE)) PIS_DE,
		NEW.DTH_ATUALIZACAO,FL_STATUS,CD_STA_ANT,
		CD_STA_POS,TP_STA,FL_AEN_TAX,
		FL_EQP_HLC, ISNULL(CD_PAR,0) CD_PAR
	from [SBRF - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_EMB_NEW] NEW
	left join IEOP.dbo.IEOP_MERGE_CONTROLE MC on(NEW.SIGLA_AEROPORTO  COLLATE Latin1_General_CI_AI = MC.SIG_AEROPORTO)
	WHERE (NEW.DTH_ATUALIZACAO >= MC.DTH_ATUALIZACAO)
) AS sd
ON
			    ISNULL(LTRIM(RTRIM(sd.SIGLA_AEROPORTO)), 0) = ISNULL(LTRIM(RTRIM(SEDE.SIG_AEROPORTO)), 0) COLLATE Latin1_General_CI_AI
			AND sd.CD_STA = SEDE.COD_STATUS
			AND ISNULL(sd.CD_PAR,0) = ISNULL(SEDE.COD_VOO_PARTIDA,0) COLLATE Latin1_General_CI_AI
			and SEDE.flg_migrado <> 2

WHEN MATCHED THEN UPDATE SET
			SIG_AEROPORTO = sd.SIGLA_AEROPORTO,
			NUM_VOO = sd.NR_PAR_VOO,
			DTH_NORMAL_DECOLAGEM = sd.DH_PAR_NRM,
			DTH_EFETIVA_DECOLAGEM = sd.DH_PAR_EFE,
			COD_CIA_AEREA = sd.CD_COM,
			SIG_CIA_AEREA_IATA = sd.SG_COM_IAT_003,
			NME_CIA_AEREA = sd.NOME_CIA,
			NME_EQUIPAMENTO = sd.NM_EQP,
			COD_MATRICULA_AERONAVE = sd.NR_AEN,
			NUM_GRUPO_VOO_EMB = sd.TP_PAR_GRU,
			NUM_NATUREZA_VOO_EMB = sd.TP_PAR_NAT,
			NUM_CLASSE_VOO_EMB = sd.TP_PAR,
			NUM_CATEGORIA_VOO_EMB = sd.TP_PAR_CTG,
			NUM_CATEGORIA_VOO_EMB_VINCULADO = sd.TP_PAR_CTG_VIN,
			SIG_EQUIPAMENTO = sd.SG_EQP,
			QTD_TARIFA_PAGA_BILHETE_DOM_EMB = sd.QT_DEP_TFB_DOM,
			QTD_TARIFA_PAGA_BILHETE_INT_EMB = sd.QT_DEP_TFB_INT,
			QTD_TARIFA_PAGA_CHECKIN_DOM_EMB = sd.QT_DEP_TFC_DOM,
			QTD_TARIFA_PAGA_CHECKIN_INT_EMB = sd.QT_DEP_TFC_INT,
			QTD_ISENTA_COLO_EMB = sd.QT_DEP_ISE_COL,
			QTD_ISENTA_TRANSITO_EMB = sd.QT_DEP_ISE_TRA,
			QTD_ISENTA_CONEXAO_EMB_DOM = sd.QT_DEP_ISE_CON_DOM,
			QTD_ISENTA_CONEXAO_EMB_INT = sd.QT_DEP_ISE_CON_INT,
			QTD_ISENTA_OUTRAS_EMB = sd.QT_DEP_ISE_OUT,
			QTD_BAG_EMB_DOM = sd.QT_DEP_EMB_BAG_DOM,
			QTD_BAG_EMB_INT = sd.QT_DEP_EMB_BAG_INT,
			QTD_CAR_EMB_DOM = sd.QT_DEP_EMB_CAR_DOM,
			QTD_CAR_EMB_INT = sd.QT_DEP_EMB_CAR_INT,
			QTD_COR_EMB_DOM = sd.QT_DEP_EMB_COR_DOM,
			QTD_COR_EMB_INT = sd.QT_DEP_EMB_COR_INT,
			QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT = sd.QT_DEP_TFB_DOM_ANT,
			QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT = sd.QT_DEP_TFB_INT_ANT,
			QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT = sd.QT_DEP_TFC_DOM_ANT,
			QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT = sd.QT_DEP_TFC_INT_ANT,
			COD_VOO_CHEGADA_ANT = sd.CD_CHG_AEN_ANT,
			COD_EMB_VINCULADO = sd.CD_PAR_VIN,
			NUM_BOX = sd.NR_BOX,
			TIP_BOX = sd.TP_BOX,
			NME_PONTE = sd.NM_PON,
			NUM_PORTAO = sd.NR_POR,
			SIG_AEROPORTO_DESTINO = sd.SIGLA_AEROPORTO_DES,
			COD_STATUS = sd.CD_STA,
			DTH_PRI_MOV = sd.HR_MOV_PRI,
			DTH_ULT_MOV = sd.HR_MOV_ULT,
			DTH_ULT_SAI_MOV = sd.HR_MOV_ULT_SAI,
			DSC_PISTA_POUSO = sd.PIS_PO,
			DSC_PISTA_DECOLAGEM = sd.PIS_DE,
			DTH_ATUALIZACAO = sd.DTH_ATUALIZACAO,
			FLG_STATUS = sd.FL_STATUS,
			COD_STATUS_ANT = sd.CD_STA_ANT,
			COD_STATUS_POS = sd.CD_STA_POS,
			TIP_STATUS = sd.TP_STA,
			FLG_TAXI_AEREA = sd.FL_AEN_TAX,
			FLG_EQUIP_HELICOP = sd.FL_EQP_HLC,
			QTD_ATUALIZACAO = QTD_ATUALIZACAO + 1,
			FLG_MIGRADO = 1,
			DTH_MIGRACAO = GETDATE(),
			COD_VOO_PARTIDA = ISNULL(sd.CD_PAR,0)
WHEN NOT MATCHED THEN
	insert (SIG_AEROPORTO,NUM_VOO,DTH_NORMAL_DECOLAGEM,
			DTH_EFETIVA_DECOLAGEM,COD_CIA_AEREA,SIG_CIA_AEREA_IATA,
			NME_CIA_AEREA,NME_EQUIPAMENTO,COD_MATRICULA_AERONAVE,
			NUM_GRUPO_VOO_EMB,NUM_NATUREZA_VOO_EMB,NUM_CLASSE_VOO_EMB,
			NUM_CATEGORIA_VOO_EMB,NUM_CATEGORIA_VOO_EMB_VINCULADO,SIG_EQUIPAMENTO,
			QTD_TARIFA_PAGA_BILHETE_DOM_EMB,QTD_TARIFA_PAGA_BILHETE_INT_EMB,QTD_TARIFA_PAGA_CHECKIN_DOM_EMB,
			QTD_TARIFA_PAGA_CHECKIN_INT_EMB,QTD_ISENTA_COLO_EMB,QTD_ISENTA_TRANSITO_EMB,
			QTD_ISENTA_CONEXAO_EMB_DOM,QTD_ISENTA_CONEXAO_EMB_INT,QTD_ISENTA_OUTRAS_EMB,
			QTD_BAG_EMB_DOM,QTD_BAG_EMB_INT,QTD_CAR_EMB_DOM,
			QTD_CAR_EMB_INT,QTD_COR_EMB_DOM,QTD_COR_EMB_INT,
			QTD_TARIFA_PAG_BILHETE_EMB_DOM_ANT,QTD_TARIFA_PAG_BILHETE_EMB_INT_ANT,QTD_TARIFA_PAG_CHECKIN_EMB_DOM_ANT,
			QTD_TARIFA_PAG_CHECKIN_EMB_INT_ANT,COD_VOO_CHEGADA_ANT,COD_EMB_VINCULADO,
			NUM_BOX,TIP_BOX,NME_PONTE,NUM_PORTAO,SIG_AEROPORTO_DESTINO,
			COD_STATUS,DTH_PRI_MOV,DTH_ULT_MOV,
			DTH_ULT_SAI_MOV,DSC_PISTA_POUSO,DSC_PISTA_DECOLAGEM,
			DTH_ATUALIZACAO,FLG_STATUS,COD_STATUS_ANT,
			COD_STATUS_POS,TIP_STATUS,FLG_TAXI_AEREA,
			FLG_EQUIP_HELICOP,
			QTD_ATUALIZACAO, FLG_MIGRADO, DTH_MIGRACAO, COD_VOO_PARTIDA
		)
		values(sd.SIGLA_AEROPORTO,sd.NR_PAR_VOO,sd.DH_PAR_NRM,
			sd.DH_PAR_EFE,sd.CD_COM,sd.SG_COM_IAT_003,
			sd.NOME_CIA, sd.NM_EQP,sd.NR_AEN,
			sd.TP_PAR_GRU,sd.TP_PAR_NAT,sd.TP_PAR,
			sd.TP_PAR_CTG,sd.TP_PAR_CTG_VIN,sd.SG_EQP,
			sd.QT_DEP_TFB_DOM,sd.QT_DEP_TFB_INT,sd.QT_DEP_TFC_DOM,
			sd.QT_DEP_TFC_INT,sd.QT_DEP_ISE_COL,sd.QT_DEP_ISE_TRA,
			sd.QT_DEP_ISE_CON_DOM,sd.QT_DEP_ISE_CON_INT,sd.QT_DEP_ISE_OUT,
			sd.QT_DEP_EMB_BAG_DOM,sd.QT_DEP_EMB_BAG_INT,sd.QT_DEP_EMB_CAR_DOM,
			sd.QT_DEP_EMB_CAR_INT,sd.QT_DEP_EMB_COR_DOM,sd.QT_DEP_EMB_COR_INT,
			sd.QT_DEP_TFB_DOM_ANT,sd.QT_DEP_TFB_INT_ANT,sd.QT_DEP_TFC_DOM_ANT,
			sd.QT_DEP_TFC_INT_ANT,sd.CD_CHG_AEN_ANT,sd.CD_PAR_VIN,
			sd.NR_BOX,sd.TP_BOX,sd.NM_PON,sd.NR_POR,sd.SIGLA_AEROPORTO_DES,
			sd.CD_STA,sd.HR_MOV_PRI,sd.HR_MOV_ULT,
			sd.HR_MOV_ULT_SAI,sd.PIS_PO,sd.PIS_DE,
			sd.DTH_ATUALIZACAO,sd.FL_STATUS,sd.CD_STA_ANT,
			sd.CD_STA_POS,sd.TP_STA,sd.FL_AEN_TAX,
			sd.FL_EQP_HLC,
			0,1,GETDATE(), ISNULL(sd.CD_PAR,0));

--REALIZA MERGE DOS DADOS DE MOVIMENTAÇÃO.
MERGE IEOP.dbo.IEOP_MOVIMENTACAO AS SEDE
USING (
	select
		LTRIM(RTRIM(NEW.sigla_aeroporto)) sigla_aeroporto,CD_STA,CD_MOV,
		LTRIM(RTRIM(TIPO_MOV)) TIPO_MOV,HR_MOV,LTRIM(RTRIM(NR_BOX)) NR_BOX,
		TIPO_BOX,LTRIM(RTRIM(NR_TPS)) NR_TPS,NEW.DTH_ATUALIZACAO
	from [SBRF - INTEGRACAO].[integracao].[dbo].[INTEGRACAO_SISO_BIOGER_MOV_NEW] NEW
	left join IEOP.dbo.IEOP_MERGE_CONTROLE MC on(NEW.SIGLA_AEROPORTO  COLLATE Latin1_General_CI_AI = MC.SIG_AEROPORTO)
	WHERE (NEW.DTH_ATUALIZACAO >= MC.DTH_ATUALIZACAO)
) AS sd
ON
			    ISNULL(LTRIM(RTRIM(sd.SIGLA_AEROPORTO)), 0) = ISNULL(LTRIM(RTRIM(SEDE.SIG_AEROPORTO)), 0) COLLATE Latin1_General_CI_AI
			AND sd.CD_STA = SEDE.COD_STATUS
			AND sd.CD_MOV = SEDE.COD_MOVIMENTO
			and SEDE.flg_migrado <> 2
WHEN MATCHED THEN UPDATE SET
			SIG_AEROPORTO = sd.sigla_aeroporto,
			COD_STATUS = sd.CD_STA,
			COD_MOVIMENTO = sd.CD_MOV,
			TIP_MOVIMENTO = sd.TIPO_MOV,
			DTH_MOVIMENTO = sd.HR_MOV,
			NUM_BOX = sd.NR_BOX,
			TIP_BOX = sd.TIPO_BOX,
			NUM_TPS = sd.NR_TPS,
			DTH_ATUALIZACAO = sd.DTH_ATUALIZACAO,
			QTD_ATUALIZACAO = QTD_ATUALIZACAO + 1,
			FLG_MIGRADO = 1,
			DTH_MIGRACAO = GETDATE()
WHEN NOT MATCHED THEN
	insert (SIG_AEROPORTO,COD_STATUS,COD_MOVIMENTO,
			TIP_MOVIMENTO,DTH_MOVIMENTO,NUM_BOX,
			TIP_BOX,NUM_TPS,DTH_ATUALIZACAO,
			QTD_ATUALIZACAO, FLG_MIGRADO, DTH_MIGRACAO)
		values(sd.sigla_aeroporto,sd.CD_STA,sd.CD_MOV,
			sd.TIPO_MOV,sd.HR_MOV,sd.NR_BOX,
			sd.TIPO_BOX,sd.NR_TPS,sd.DTH_ATUALIZACAO,
			0,1,GETDATE());

	--ATUALIZAÇÃO DA DATA NA TABELA DE CONTROLE.
	UPDATE IEOP.dbo.IEOP_MERGE_CONTROLE 
	SET DTH_ATUALIZACAO = (SELECT TOP (1)
			convert(datetime, rtrim(run_date))
			+ ((run_time/10000 * 3600) 
			+ ((run_time%10000)/100*60) 
			+ (run_time%10000)%100) / (86399.9964 ) as inicio
		FROM msdb.dbo.sysjobhistory 
		WHERE
			job_id = '60CCA6CF-9796-4256-A323-647A19C6D748'
			AND run_status = 1
			and step_id = 1
		ORDER BY
			convert(datetime, rtrim(run_date)) 
			+ ((run_time/10000 * 3600) 
			+ ((run_time%10000)/100*60) 
			+ (run_time%10000)%100) / (86399.9964 ) desc
		)
	where sig_aeroporto = 'SBRF'
