/******************************************************************************
File Name:    reports.scss
Purpose:      reports styles and accessibility imporovements for mobile

Change History:

Rem   msewtz       06/15/2012    Created file
******************************************************************************/

.list-view-cell {
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
}